Django
Pillow
bleach
defusedxml
django-allauth
django-bleach
django-bootstrap-form
django-crispy-forms
django-debug-toolbar
django-markdown-deux
django-rosetta
docutils
gunicorn
html5lib
markdown2
microsofttranslator
oauthlib
polib
psycopg2
python-dateutil
python-memcached
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
