Django==1.9.4
Pillow==3.1.1
bleach==1.4.2
defusedxml==0.4.1
django-allauth==0.25.2
django-bleach==0.3.0
django-bootstrap-form==3.2.1
django-crispy-forms==1.6.0
django-markdown-deux==1.0.5
django-rosetta==0.7.10
docutils==0.12
gunicorn==19.4.5
html5lib==0.9999999
markdown2==2.3.1
microsofttranslator==0.7
oauthlib==1.0.3
polib==1.0.7
psycopg2==2.6.1
python-dateutil==2.5.1
python3-openid==3.0.9
pytz==2016.3
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
