{% extends "account/base.html" %}
{% load i18n bootstrap %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block body_classes %}siteauth{% endblock %}

{% block content %}

<h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

{% if token_fail %}

  {% url 'account_reset_password' as passwd_reset_url %}
  <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>

{% else %}
  {% if form %}
    <form class="bootstrap-vertical auth" method="POST" action=".">
      {% csrf_token %}

      <div class="form-group" style="margin: 10px 40px;">
        {{ form|bootstrap }}
      </div>

      <div class="form-group" style="text-align: center; padding: 20px 0;">
        <input class="btn btn-primary" type="submit" name="action" value="{% trans 'change password' %}">
      </div>

    </form>
  {% else %}
    <p>{% trans 'Your password is now changed.' %}</p>
  {% endif %}

{% endif %}

{% endblock %}
