{% extends 'gl4app/base.html' %}
{% load gl4tags i18n static account socialaccount bootstrap %}

{% block title %}{% trans 'Create a Graniteland profile' %}{% endblock %}
{% block title2 %}{% trans 'Create a Graniteland profile' %}{% endblock %}
{% block description %}{% endblock %}
{% block head %}{% endblock %}
{% block body_classes %}sitesignup siteauth{% endblock %}

{% block breadcrumb %}
<a href="/">{% trans 'Find Granite und Marble' %}</a> &raquo;
{% endblock %}

{% block main %}

<h1>{% trans 'Create a Graniteland profile' %}</h1>

<form class="bootstrap-vertical auth signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  <p style="text-align: center; border-bottom: 1px solid #AAA; margin-bottom: 20px;">
    {% blocktrans %}Already have a Graniteland profile? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
  </p>

  {% csrf_token %}
  <div class="form-group" style="margin: 10px 40px;">
    {{ form|bootstrap }}
  </div>

  {% if redirect_field_value %}<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />{% endif %}

  <div class="form-group" style="text-align: center; padding: 20px 0;">
    <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
  </div>
</form>

<script>
var pref = '{{ settings.CANONICAL_BASE }}{% url 'companydb_home' %}/'
var nameElem = document.getElementById('id_name');
var usernameElem = document.getElementById('id_username');

usernameElem.setAttribute('readonly', 'readonly');
usernameElem.setAttribute('placeholder', '');
usernameElem.removeAttribute('autofocus');
nameElem.setAttribute('autofocus', 'autofocus');

var divElem = usernameElem.parentNode;
divElem.classList.add('username-wrapper');

var prefElem = document.createElement('div');
prefElem.classList.add('pref-content');
prefElem.appendChild(document.createTextNode(pref));
divElem.insertBefore(prefElem, usernameElem);

nameElem.addEventListener('keyup', function(event) {
  usernameElem.value = slugify(event.target.value);
});

function slugify(s) {
  return s.toLowerCase().replace(/\s+/g,'-').replace(/[^a-z0-9\-_]/g, '');
}
</script>
<style>
  .username-wrapper { display: flex; flex-flow: row nowrap; border-bottom: 1px dotted red; }
  .pref-content { margin: 0; padding: 0; background: none; line-height: 3rem; color: #808080; }
  #id_username { margin: 0; padding: 0; border: 0; border-radius: 0; height: auto; background: transparent; line-height: 3rem; outline: none; box-shadow: none; color: red; }
  label[for="id_username"] { display: none; }
</style>

{% endblock %}
