
/* HTML tags */
html, body { min-height: 100%; margin: 0; padding: 0; font-family: sans-serif; font-size: 14px; }
body { color: black; background-color: white; background-position: center center; background-repeat: repeat; text-align: center; }

a, a:link { outline-style: none; }
table { border-spacing:0; }
img  { border:0; margin:0; padding:0; }

form { border: 0; margin: 0; padding: 0; }
input[type="checkbox"] { vertical-align: middle; border:1px solid #999; }
input[type="text"], input[type="password"] { border: 1px solid #999; padding:2px 3px; }
select { border: 1px solid #999; padding: 2px 0px; background: url(/img/input-box-bg.png) bottom repeat-x #FFF; }
textarea { border: 1px solid #999; background: url(/img/input-box-bg.png) bottom repeat-x #FFF; }
input[type="checkbox"]:focus, input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus { border-color: #000; background:#FFF; }

h1 { padding: 0; margin: 0; font-size: 2rem; line-height: 4rem; color: gray; font-weight: normal; }
h2 { padding: 0; margin: 10px 0; font-size: 1.5rem; }
h2:first-child { margin-top: 0; }
h3 { padding: 0; margin: 10px 0; font-size: 1.15rem; }

.prevnext { background: lightgray; margin: 10px 0; padding: 0; font-size: 0; white-space: nowrap; text-align: center; overflow: auto; }
.prevnext a, .prevnext b { display: inline-block; padding: 10px; font-size: 16px; vertical-align: middle; overflow: hidden; font-weight: normal; }
.prevnext a:hover { background-color: rgba(0,0,0,0.05); box-shadow: 0 0 5px rgba(0,0,0,0.25); }

/* Site header */

header { background-color: lightgray; }

header > nav { display: flex; }
header > nav > a { flex-grow: 1; color: black; font-size: 16px; font-weight: bold; line-height: 64px; text-align: center; text-shadow: 1px 1px 2px rgba(255,255,255,0.75); }
header > nav > a:first-child { flex-grow: 0; overflow: hidden; padding: 0 16px; }
header > nav > a:first-child > img { height: 24px; }

header > nav.stones > a.stones,
header > nav.tradeshows > a.tradeshows,
header > nav.infos > a.infos,
header > nav.companies > a.companies { background-color: rgba(0,0,0,0.075); }

header > nav > a.profile-link { background-color: #9B0101; color: #FFFFFF; text-shadow: none; font-weight: normal; flex-grow: 0.8; }

header > form { display: flex; justify-content: center; padding: 8px; background-color: rgba(0,0,0,0.075); }
header > form > div { padding: 8px; }
header > form > div > select {}
header > form input[type="submit"] { width: 50px; }

/* Template page elements */

#tpl-wrap { padding: 0; margin: 0 auto 500px auto; border: 0; text-align: left; width: 980px; background: #fff; border-radius: 15px; overflow: hidden; box-shadow: 0 0 12px -2px #000; }

#tpl-login { width:800px; box-shadow:inset 0 -10px 10px -5px #aaa; border-radius:10px 10px 0 0; padding:10px; margin:0 auto; background:#fff; color:#666; }
#tpl-login a { color:#00F; text-decoration:underline; }
#tpl-login form { margin:0; }
#tpl-login table { border:0; margin:0 auto; padding:0; }

#tpl-lema { display:block; white-space:nowrap; font-family:tahoma,serif; padding:1px; margin:0; text-align:center; color:#fff; text-shadow:0 0 3px #000; }

#tpl-msg { display:block; position:fixed; top:0; left:0; right:0; height:0; background:#000; text-align:center; }
#tpl-msg span { display:inline-block;  padding:15px; margin:0; text-align:center; background:#FF0; color:#F00; font-weight:bold;  border:2px solid #F00; border-top:0;  border-radius:0 0 10px 10px; box-shadow:0 5px 10px rgba(0,0,0,0.4); }

#tpl-breadcrumb { padding: 10px 10px 0 20px; font-size: 1rem; color: gray; }
#tpl-breadcrumb a {  }
#tpl-breadcrumb a:hover {  }

#tpl-content { overflow:auto; padding:0 20px 20px 20px; margin:0; text-align:left; background:#fff; }

#id-staff-links { position: fixed; bottom: 0; left: 0; background-color: yellow; padding: 5px 10px; }
#id-staff-links a { padding: 5px 10px; }


footer { clear:both; overflow:hidden; padding:5px 20px; border-top:1px #ccc solid; background:#eee; color:#aaa; border-radius:0 0 15px 15px; }
footer img { vertical-align:middle; margin-right:5px; }
footer p { padding:0; margin:5px 0; font-size:85%; text-align:left; }
footer p a { color:#aaa; text-decoration:none; }
footer p a:hover { color:#555; }

/* Three Dots*/

.loading { display:inline-block; font-size:0px; padding:0px; }
.loading span { vertical-align:middle; border-radius:100%; background:#999; display:inline-block; width:10px; height:10px; margin:3px 2px; -webkit-animation:kf-loading 0.8s linear infinite alternate; animation:kf-loading 0.8s linear infinite alternate; }
.loading span:nth-child(1) { -webkit-animation-delay:-0.8; animation-delay:-0.8s; }
.loading span:nth-child(2) { -webkit-animation-delay:-0.53333s; animation-delay:-0.53333s; }
.loading span:nth-child(3) { -webkit-animation-delay:-0.26666s; animation-delay:-0.26666s; }
@keyframes kf-loading { from {transform: scale(0, 0);} to {transform: scale(1, 1);} }
@-webkit-keyframes kf-loading { from {-webkit-transform: scale(0, 0);} to {-webkit-transform: scale(1, 1);} }

/* User profiles header with title and tab navigation */

.user-profile-header h1 { padding: 0; margin: 32px 0; color: #666; text-align: center; font-size: 3rem; }
.user-profile-header ul { list-style: none; margin: 10px 0; padding: 0; font-weight: bold; text-align: center; white-space: nowrap; }
.user-profile-header ul li { display: inline-block; margin: 0 5px; padding: 0; }
.user-profile-header ul li a { display: inline-block; font-size: 15px; text-decoration: none; padding: 10px 20px; color: rgba(0,0,0,0.5); background: lightgray; border-radius: 3px; }
.user-profile-header ul li a.current { color: #FFF; background-color: #9B0101; box-shadow: inset 0 10px 12px -5px rgba(255,255,255,0.5); }

/* List of small preview fotos. */
/* Example: /naturstein/branco-ipanema/fotos */

.fotoslist { padding:5px; background:#000; overflow:hidden; }
.fotoslist .count { margin:-5px; margin-bottom:5px; padding:15px; background:#ccc; overflow:hidden; }
.fotoslist .list .item { float:left; margin:5px; }
.fotoslist .list .item img { height:150px; }
.fotoslist .list .loading { width:150px; height:150px; background:url(/img/loading1.gif) center center no-repeat rgba(255,255,255,0.7); float:left; margin:5px; }

/* Generic stock items listings */

div.stock-list { margin:20px 0; padding:0; border:1px solid #999; }
div.stock-list div.header-line { margin:0;padding:5px;border:0;background:#EEE; }
div.stock-list div.header-line table.stock-table-header-table {  }
div.stock-list div.header-line table.stock-table-header-table td { padding:5px; }
div.stock-list div.header-line table.stock-table-header-table td.pic { width:200px; vertical-align:middle; text-align:center; font-size:120%; font-weight:bold; }
div.stock-list div.header-line table.stock-table-header-table td.pic a { text-decoration:none; }
div.stock-list div.header-line table.stock-table-header-table td.pic a:hover { text-decoration:underline; }
div.stock-list div.header-line table.stock-table-header-table td.title { padding-left:10px; font-weight:bold; color:#999; }
div.stock-list div.header-line table.stock-table-header-table td.data {  }
div.stock-list div.content-line { margin:0;padding:5px;border:0; }

/* General style helpers */

#div_id_leave_this_empty { display: none; }
.none { display:none; }
.centered { text-align:center; }
.small { font-size:85%; }
.light { color:#999; }
.err { color:#F00; font-weight:bold; background:#FF0; }
table.wide { width:100%; }
table.top td { vertical-align:top; }

/* List with linked page numbers */

.list-pages { margin:15px 0; padding:4px 0 6px 0; border:1px solid #c0c0c0; border-width:1px 0; text-align:center; font-size:1.15em; line-height:1.15em; }
.list-pages > a, .prevnext > a {  }
.list-pages > b, .prevnext > b {  }

/* Star to flag good stuff */

div.star-on-off { background-repeat:no-repeat; background-position:center center; background-image:url(/img/star_off.png); width:15px; height:15px; border:0; margin:0; padding:0; }

/* Advertisements */

.sponsor-ad { width:200px; float:right; text-align:right; margin:-10px 15px 0 0; padding:0; }
.sponsor-ad > div:nth-child(1) { font-size:0.85em; opacity:0.5; }
.sponsor-ad > div:nth-child(2) { width:200px; height:50px; margin-top:3px;}
.sponsor-ad > div:nth-child(2) img { width:200px; height:50px; border:0; }

/* Display a group of button style links of which only one is active. */

.switchgroup { display:table; overflow:hidden; background:#ddd; border:1px solid #888; border-radius:5px; font-size:1em; }
.switchgroup .item { display:table-cell; padding:0.35em 0.70em; border-left:1px solid #888; text-decoration:none; color:#555; box-shadow:inset 0 0.70em 0.70em -0.35em #fff, inset 0 -0.70em 0.70em -0.35em #aaa; text-shadow:1px 1px 1px #fff; }
.switchgroup .item:hover { color:#333; }
.switchgroup .item:first-child { border-left:0; }
.switchgroup .item:last-child { }
.switchgroup .item.active { box-shadow:inset 0 0.5em 0.35em -0.225em #aaa, inset 0 -0.5em 0.35em -0.225em #eee; background:#ddd; color:#333; font-weight:bold; }
.switchgroup .item > img { opacity:0.7; }
.switchgroup .item:hover > img { opacity:1; }

/* Company signup form, list of groups */

#register-form-company .groupitem:hover { background:#ccc; }
#register-form-company .groupitem .checkbox { float:left; padding:10px 5px; }
#register-form-company .groupitem label { display:block; margin:0 0 0 35px; padding:0; }

/* Overlay box for editing item data. */

.overlay-input-box {  display:none; position:fixed; top:100px; left:1px; width:700px; padding:20px; margin:0; background:#e0e0e0; border:2px solid #c0c0c0; text-align:left; }
.overlay-input-box label { font-weight:bold; color:#000; }

/* Display a semi-transparent box with a link to the stone in the background. */

div#showbginfo {  margin:100px 0 0 0; text-align:center; }
div#showbginfo a { margin:0; padding:5px 10px; color:#fff; background:#000;  opacity:0.5; }

/* Moderators can edit content link */

div.moderator-edit-links, div.modbox { background:#FF9; margin:0; padding:2px; border:2px solid #cc6; text-align:center; }
div.moderator-edit-links:before, div.modbox:before { content:'Moderator: '; color:#993; }
div.moderator-edit-links a, div.modbox a { color:#66F; }
div.moderator-edit-links a:hover, div.modbox a:hover { color:#00C; }

/* Users can edit content link */

div.user-edit-links, div.userbox { background:#FF9; padding:2px; border:0; text-align:center; }
div.user-edit-links a, div.userbox a { color:#66F; }
div.user-edit-links a:hover, div.userbox a:hover { color:#00C; }

.user-edit {  }
.user-edit.link {  }
.user-edit.btn { display:inline-block; background:#009; padding:5px 15px; margin:5px; text-align:center; text-decoration:none; font-weight:bold; color:#fff; border-radius:7px; opacity:0.3; }
.user-edit.btn:hover { opacity:1; box-shadow:inset 0 10px 10px -5px rgba(255,255,255,0.4), inset 0 -10px 10px -5px rgba(0,0,0,0.2), 1px 1px 3px rgba(0,0,0,0.4); }
.user-edit.btn:active { opacity:1; box-shadow:inset -1px -1px 2px -1px rgba(255,255,255,0.5), inset 2px 2px 3px -2px rgba(0,0,0,0.7), 1px 1px 1px rgba(0,0,0,0.0); }

/* Standard elements like boxes and bottons */

/* Simple box with a title and some text. */
div.greybox { border:1px solid #c0c0c0; padding:0; margin:0; overflow:auto; }
div.greybox div.greybox-title { background: #e0e0e0; padding:5px; text-align:center; font-weight: bold; color: #909090; }
div.greybox div.greybox-content { padding:5px; text-align:left; }

/* Standard box for any extra content. */
div.tbox { margin:10px 0; padding:0; background:#eee; overflow:hidden; border-radius:7px; }
div.tbox div.title { padding:5px 6px; background:#ccc; text-align:center; font-weight:bold; border-radius:7px; box-shadow:inset 0 10px 12px -5px rgba(255,255,255,0.5), inset 0 -10px 12px -5px rgba(0,0,0,0.1); text-shadow:1px 1px 1px rgba(255,255,255,.5); }
div.tbox>div.title a { color:#000; text-decoration:none; }
div.tbox>div.content { padding:5px; overflow:hidden; }

div.tbox ul { margin:0 0 0 20px; padding:0; /* list-style-type:bullet; */ }
div.tbox ul li { margin:0; padding:2px 0; }
div.tbox ul.nobullet { list-style-type:none; margin:0; padding:0; }
div.tbox ul.nobullet li { margin:0 0 .6em 0; padding:0; }
div.tbox ul.nobullet li strong { font-weight:bold; }
div.tbox ul.imglink { list-style-type:none; margin:0; padding:0; }
div.tbox ul.imglink li { clear:left; margin:0 0 .6em 0; padding:0; }
div.tbox ul.imglink li a.img-link { display:block; width:80px; height:80px; float:left; margin:0 5px 0 0; border:1px solid #FFF; }
div.tbox ul.imglink li a.main-link { display:block; font-weight:bold; }
div.tbox ul.imglink li a.sub-link { display:block; color:#666; font-size:85%; text-decoration:none; }
div.tbox ul.imglink li span.content { display:block; }
div.tbox>div.content>img.right { float:right; margin:0 0 0 10px; padding:0; }
div.tbox>div.content>img.left { float:left; margin:0 10px 0 0; padding:0; }
div.tbox>div.content>img.center { margin:5px 0; padding:0; }


/* A 200x30px image of a stone linking to the stone's info page. */

a.stared-stone-link { color:#000; display:block; margin:5px 0; padding:7px 0 0 0; width:200px; height:23px; text-align:center; font-size:85%;  text-decoration:none; }
a.stared-stone-link span { background:#fff; opacity:0.4; padding:0 2px; margin:0; }
a.stared-stone-link:hover span { color:#00f; opacity:1; }


/* This is a large icon left to a link and an explaining text. */

table.link-table { margin:0; padding:0; border-spacing:0; }
table.link-table td { margin:0; padding:20px; vertical-align:top; }
table.link-table td a { font-weight:bold; display:block; padding:0; margin:0 0 5px 0; }
img.link-icon { width:64px; height:64px; border:0; float:left; padding:0; margin:0 10px 10px 0; }


/* All stone result lists. TODO: re-make with flex box. */

ul.enhanced-stone-list { clear: left; overflow: hidden; list-style-type: none; padding: 0; margin: 0; }
ul.enhanced-stone-list li { padding: 0; margin: 5px 10px; width: 215px; float: left; }
ul.enhanced-stone-list li a { border-radius: 3px 3px 0 0; border: 1px solid gray; display: block; color: #000; background: top left repeat; padding: 30px 0 0 0; margin: 0; color: #000; text-decoration: none; overflow: hidden; transition: 0.3s ease-out; }
ul.enhanced-stone-list li a:hover { box-shadow: 0 0 8px rgba(0,0,0,0.5); transition: 0.3s ease-out; }
ul.enhanced-stone-list li a span.capt { display: block; height: 3.25em; padding: 2px 5px; margin: 0; background: #fff; opacity: 0.75; overflow: hidden; }
ul.enhanced-stone-list li a span.capt span.name { color: #00f; text-decoration: underline; }
ul.enhanced-stone-list li a span.capt span.pseu { display: none; }


/* The list of "more of the same filter" below a stone list. */

.stone-property-list { list-style: none; margin: 0; padding: 0; -webkit-column-count: 4; -moz-column-count: 4; -ms-column-count: 4; -o-column-count: 4; column-count: 4; }
.stone-property-list li { margin: 4px; padding: 8px 0; background-color: #F3F3F3; text-align: center; }
.stone-property-list li a { text-decoration: inherit; }
.stone-property-list li a:hover { text-decoration: underline; }
.stone-property-list li .count { color: #999; }


/* Browse photos in table overview. */

table.browse-photos-table td { width:190px; height:190px; margin:0; padding:5px; }
table.browse-photos-table td a.browse-photos-photo-link { display:block; width:200px; height:200px; border:1px solid #c0c0c0;  margin:0; padding:0; color:#000; text-decoration:none; font-size:85%; font-weight:bold; }
table.browse-photos-table td div.moderator-edit-links { width:194px; margin:0; font-size:85%; border-bottom:0; }
table.browse-photos-table td div.browse-photos-upload-by { overflow:hidden; margin:80px 0 0 0; padding:2px; width:196px; background:#fff; opacity:.2; text-align:center; }


/* The standard area around a user input form */

div.box-input { /*width:810px;*/ margin:0 0 10px 0; padding:20px; border:0;background:#EEE; }
div.box-input>div.title { font-weight:bold; font-size:1.2em; margin:0 0 10px 0; }
div.box-input table { padding:0; margin:0; }
div.box-input table td { padding:5px; }
div.box-input label { font-weight:bold; color:#666; }

div.list2 { margin:10px 0; }
div.list2 table { margin:0; padding:0; border-spacing:2px; }
div.list2 table td { vertical-align:top; padding:5px; }
div.list2 table td.description { width:50%; border-top:1px solid #CCC; }
div.list2 table td.picture { width:100px; text-align:center; background:#EEE; border-top:1px solid #CCC; }


/* Standard projects list item */
.projects-list { overflow:hidden; background:#ddd; margin:25px 0; padding:0; }
.projects-list .header { margin-right:410px; padding:10px; }
.projects-list .header table { width:100%; }
.projects-list .header table td { vertical-align:middle; padding:5px; }
.projects-list .header table td.title { color:#888; text-align:right; }
.projects-list .header table td.data { font-size:1.15em; font-weight:bold; }
.projects-list .header table td.pic {  }
.projects-list .header table td.pic a { overflow:hidden; display:block; width:350px; height:50px; background-attachment:repeat; color:transparent; text-align:center; text-decoration:none; }
.projects-list .header table tr.pub_date td.title {  }
.projects-list .header table tr.pub_date td.data {  }
.projects-list .header table tr.stone td.title {  }
.projects-list .header table tr.stone td.data {  }
.projects-list .header table tr.user td.title {  }
.projects-list .header table tr.user td.data {  }
.projects-list .content { margin-right:410px; padding:0 15px; }
.projects-list .fotoslist { width:400px; float:right; }


/* Tradeshow */

body.tradeshow-index .switchgroup { font-size:1.75em; }
body.tradeshow-index .list { margin:25px 0; }
body.tradeshow-index .list h2 { margin:15px 0; font-size:1.5em; }
body.tradeshow-index .list table { margin:15px 0; width:100%; table-layout:fixed; border-bottom:1px dotted #ccc; }
body.tradeshow-index .list .item { vertical-align:top; width:50%; margin:0; padding:0; }
body.tradeshow-index .list .item a { display:block; padding:10px; text-decoration:none; overflow:hidden; border-top:1px dotted #ccc; }
body.tradeshow-index .list .item img { width:50px; height:50px; float:left; border-radius:5px; }
body.tradeshow-index .list .item span { display:block; margin:0 0 0 60px; }
body.tradeshow-index .list .item .name { font-size:1.15em; font-weight:bold; }
body.tradeshow-index .list .item .aka { color:#888; }
body.tradeshow-index .list .item .dateplace { color:#000; }

body.tradeshow-item { margin:10px 0; padding:0; }
body.tradeshow-item .item-title { margin:0; padding:10px; font-size:1.25em; overflow:hidden; border:1px solid #ccc; border-width:1px 0; line-height:1.5em; }
body.tradeshow-item .item-title > img { width:75px; height:75px; margin:0 10px 0 0; vertical-align:middle; float:left; background:#888; box-shadow:0 0 10px #fff; border-radius:5px; }
body.tradeshow-item .item-title > strong { display:block; font-weight:strong; }
body.tradeshow-item .item-title > em { display:block; font-style:normal; color:#999; }
body.tradeshow-item .item-data { }
body.tradeshow-item .item-data th { text-align:right; padding:5px; font-weight:normal; color:#999; }
body.tradeshow-item .item-data td { padding:5px; }

/* Groups */

body.company.list h1 { margin: 0 0 20px 0; }

body.company.list .above { display: flex; flex-direction: row; margin: 10px 0; padding: 0; }
body.company.list .above .intro { flex-grow: 10;  }
body.company.list .above .intro .logo { float: left; margin: 0 10px 10px 0; padding: 0; width: 150px; height: 150px; background: lightgray center center no-repeat; background-size: cover; }
body.company.list .above .intro .info { font-weight: bold; }
body.company.list .above .intro .about { margin: 10px 0; }
body.company.list .above .ads { flex-grow: 0; flex-shrink: 0; }

body.company.list.country .above .ads { order: 1; }
body.company.list.country .above .intro { order: 2; margin-left: 10px; padding-left: 10px; border-left: 1px solid gray; }
body.company.list.country .above .intro .flag { width: 50px; border: 0; }
body.company.list.country .above .intro .info { margin: 10px 0; }
body.company.list.country .above .intro .about { }

body.company.list .below .ads { width: 100%; height: 90px; }
body.company.list.search .above .ads { width: 100%; height: 90px; }

body.company.list.group .above .intro { margin-right: 10px; padding-right: 10px; border-right: 1px solid gray; }

body.company.list .company-list { margin: 10px -20px; padding: 10px 20px; display: flex; flex-flow: row wrap; justify-content: center; align-items: stretch; align-content: stretch; box-shadow: inset 0 25px 150px -75px rgba(0,0,0,0.5); }

body.company.list .company-list > .item { transition: 0.3s ease-out; display: block; padding: 10px; margin: 5px; overflow: hidden; min-width: 250px; max-width: 500px; max-height: 120px; flex: 1 1; color: inherit; text-decoration: inherit; border: 1px solid lightgray; background-color: white; }
body.company.list .company-list > .item:hover { transition: 0.3s ease-out; box-shadow: 0 0 10px rgba(0,0,0,0.25); }
body.company.list .company-list > .item > .pic { display: block; margin-right: 10px; float: left; width: 100px; height: 100px; background: lightgray center center no-repeat; background-size: cover; }
body.company.list .company-list > .item > .info { display: block; }
body.company.list .company-list > .item > .info > .name { display: block; font-size: 14px; font-weight: bold; }
body.company.list .company-list > .item > .info > .location { display: block; }
body.company.list .company-list > .item > .info > .description { display: none; }

/* Stones */

body.stones-home .stones-home-content { display: flex; flex-direction: row; margin: 16px 0; }
body.stones-home .stones-home-content .stones-home-search { flex: auto; overflow: hidden; }
body.stones-home .stones-home-content .stones-home-ad1 {  margin-left: 16px; width: 350px; }

body.stones-home .stones-home-result > a { display: block; color: black; text-decoration: none; cursor: pointer; box-shadow: 0 0 1px rgba(0,0,0,0.75); font-size: 16px; line-height: 30px; overflow: hidden; white-space: nowrap; margin: 8px 0; }
body.stones-home .stones-home-result > a > span { display: block; background-color: rgba(255,255,255,0.75); margin-left: 100px; padding-left: 8px; }
body.stones-home .stones-home-result > a > span > .name {  }
body.stones-home .stones-home-result > a > span > .pseu {  }

body.stones-home .layout2 { margin: 10px 0; width: 100% table-layout: fixed; border-spacing: 0; }
body.stones-home .layout2 td { width:33%; vertical-align:top; background:#ddd; }
body.stones-home .layout2 td h2 { padding:0 10px; margin:10px; color:#666; text-shadow:0 -1px 1px rgba(255,255,255,0.6), 0 1px 1px rgba(0,0,0,0.3); }
body.stones-home .layout2 td ul { padding:0 10px; margin:10px; list-style:none; }
body.stones-home .layout2 td ul li {  }
body.stones-home .layout2 td ul li a { text-decoration:none; display:block; padding:3px 0 3px 10px; margin:0 0 0 -10px; }
body.stones-home .layout2 td ul li a:hover { background:rgba(255,255,255,0.4); border-radius:9px; }

/* Pages */

body.pages .topics { padding:0; margin:0; float:right; width:300px; }
body.pages .topics .title { font-size:1.5em; font-weight:bold; color:#666; padding:0; margin:0; }
body.pages .topics .info { font-weight:bold; }
body.pages .topics .intro {  }
body.pages .topics ul { margin:0; padding:0; list-style:none; }
body.pages .topics ul li { margin:10px 0; padding:15px; background:#eee; }
body.pages .topics ul strong { display:block; font-size:1.5em;}
body.pages .topics ul span { display:block; color:#666; }
body.pages .topics .ad { padding:10px 0; }
body.pages h1 { padding:0 0 15px 0; margin:15px 0; }
body.pages .index { margin-right:320px; }
body.pages .index > h1 { padding:0; margin:15px 0; }
body.pages .index > .intro { padding:0; margin:15px 0; }
body.pages .index .item { border-top:1px solid #ccc; padding:15px 0; }
body.pages .index .topic { display:block; color:#666; font-style:italic; }
body.pages .index a { text-decoration:none; }
body.pages .index h2 { padding:0; margin:5px 0; }
body.pages .index h2 a { text-decoration:underline; }
body.pages .index .list .intro { padding:0; margin:0; }

body.pages.page h1 { color:#333; }
body.pages.page .layout { width:100%; }
body.pages.page .layout td { vertical-align:top; }
body.pages.page .leftcol { font-size:1.15em; line-height:1.5em; padding:0 20px 0 0; text-align:justify; }
body.pages.page .leftcol > p:first-child { margin-top:0; }
body.pages.page .leftcol .ad { margin:20px 0; padding:10px 0; text-align:center; }
body.pages.page .rightcol { width:300px; }
body.pages.page .rightcol > div > a > img { width:300px; }

body.pages.page .author { background:#ddd; margin:20px 0; padding:15px; text-align:left; }
body.pages.page .author .title { font-weight:bold; color:#666; }
body.pages.page .author .content { margin-top:10px; }
body.pages.page .author .name { display:block; font-size:1.5em; }
body.pages.page .author .about { display:block; }

/* Profiles of users */

body.profile #about-company-slogan { text-align:center; }
body.profile #about-company-about { margin:20px 0; overflow:hidden; }
body.profile #about-company-about p { line-height:1.5em; margin:1em 0; text-align: left; }
body.profile .profile-contact-info { width:100%; padding:10px; background:#ddd; }
body.profile .profile-contact-info td { padding:5px; }
body.profile .profile-contact-info td:first-child { color:#666; text-align:right; white-space:nowrap; }

body.profile-home .layout { margin:10px 0; padding:0; width:100%; table-layout:fixed; }
body.profile-home .layout .leftcol { vertical-align:top; }
body.profile-home .layout .middlecol { vertical-align:top; width:230px; }
body.profile-home .layout .middlecol div { width:200px; margin:0 auto; overflow:hidden; }
body.profile-home .layout .rightcol { vertical-align:top; width:200px; }
body.profile-home .layout .rightcol > div:first-child { margin-top:0; }

body.profile-home section.profile-business-areas { font-size: 20px; text-align: center; margin: 16px 0; }
body.profile-home section.company-about { font-size: 16px; line-height: 24px; text-align: left; }

body.profile-home .profile-info-fotos { display: flex; height: 400px; }
body.profile-home .profile-info-fotos > section { width: 50% !important; height: 100%; overflow: auto; box-sizing: border-box; }
body.profile-home .profile-info-fotos > section.fotoslist > .list { }
body.profile-home .profile-info-fotos > section.fotoslist > .list > .item { }
body.profile-home .profile-info-fotos > section.fotoslist > .list > .item > a { }
body.profile-home .profile-info-fotos > section.fotoslist > .list > .item > a > img { }

body.profile-home .profile-business-card { text-align: center; padding: 16px; background-color: lightgray; display: flex; flex-flow: column; }
body.profile-home .profile-business-card-edit { display: inline-block; position: relative; margin-top: -24px; top: 24px; left: -8px }
body.profile-home .profile-business-card .line1 { flex-grow: 1; text-align: center; border-bottom: 1px solid gray; padding-top: 0; padding-bottom: 16px; margin-bottom: 8px; }
body.profile-home .profile-business-card .line1 .name { font-size: 24px; }
body.profile-home .profile-business-card .line1 .web {  }
body.profile-home .profile-business-card .line2 { flex-grow: 1; text-align: center; padding: 0; margin: 8px 0; }
body.profile-home .profile-business-card .line2 dt { display: inline; }
body.profile-home .profile-business-card .line2 dd { display: inline; }
body.profile-home .profile-business-card .line3 { flex-grow: 1000; padding: 0; margin: 16px 0 0 0; justify-content: center; }
body.profile-home .profile-business-card .line3 div:nth-child(1) { font-size: 20px; font-weight: bold; color: green; }
body.profile-home .profile-business-card .line3 div:nth-child(2) { font-size: 24px;  }
body.profile-home .profile-business-card .line3 div:nth-child(3) { font-size: 16px; color: gray;  }
body.profile-home .profile-business-card .line4 { flex-grow: 1; text-align: center; padding: 0; margin: 0; }
body.profile-home .profile-business-card .line4 dt {  }
body.profile-home .profile-business-card .line4 dd {  }

/* Home page */

body.sitehome .leftcol { width:520px; margin:0; padding:0; float:left; }
body.sitehome .leftcol .top-pic { background:url(/static/img/fotos/wand.jpg) center center no-repeat; width:520px; height:125px; margin:0 0 15px 0; }
body.sitehome .leftcol .left-ad { width:160px; float:left; margin:0 0 10px 0; }
body.sitehome .leftcol .sectionlinks { margin:0 0 10px 170px; padding:0; }
body.sitehome .leftcol .currstock { clear:left; }

body.sitehome .rightcol { width:336px; margin:0; padding:0; float:right; }
body.sitehome .rightcol div:first-child { margin-top:0; }

body.sitehome .rightcol .colors table { width:100%; }
body.sitehome .rightcol .colors table td { vertical-align:top; width:50%; }
body.sitehome .rightcol .colors ul { list-style:none; margin:0; }
body.sitehome .rightcol .colors ul li { padding:3px 0; }
body.sitehome .rightcol .colors ul li a { display:block; }
body.sitehome .rightcol .colors ul li a span { display:inline-block; vertical-align:middle; margin-right:5px; width:20px; height:20px; overflow:hidden; box-shadow:1px 1px 2px rgba(0,0,0,0.3); }

body.sitehome .rightcol .login table { margin:5px auto; width:220px; }
body.sitehome .rightcol .login input[type="text"],
body.sitehome .rightcol .login input[type="password"] { width:100%; }
body.sitehome .rightcol .login .links { text-align:center; margin:0; padding:10px 0; }

body.sitehome .companies p:first-child { padding:0; margin:0 0 20px 0; }
body.sitehome .companies ul { margin:0; list-style:none; }
body.sitehome .companies ul li { margin:10px 0; padding:0; overflow:hidden; }
body.sitehome .companies ul li img { width:50px; height:50px; float:left; margin-right:10px; }

/* Fotos pages. */

body.fotos {  }
body.fotos #display-foto { margin-bottom:20px; }
body.fotos #display-foto .fotoitem { text-align:center; background:#000; padding:10px 0; }
body.fotos #display-foto .fotoitem > .ctrl { text-align:center; color:#888; }
body.fotos #display-foto .fotoitem > .ctrl a { color:#888; text-decoration:none; }
body.fotos #display-foto .fotoitem > .ctrl a:hover { color:#eee; }
body.fotos #display-foto .fotoitem > .pic { margin:15px 0; }
body.fotos #display-foto #view-caption { background:#ccc; padding:0 15px; overflow:hidden; }

/* Stone homepage */

body.stones-item h2 a { color:#000; text-decoration:none; }
body.stones-item .stone1 { width:100%; }
body.stones-item .stone1 td { vertical-align:top; }
body.stones-item .stone1 .about { width:400px; padding-right:10px; }
body.stones-item .stone1 .about .ad2 { max-width: 400px; max-height: 400px; }
body.stones-item .stone1 .about .img { width:400px; height:300px; border:1px solid #666; }
body.stones-item .stone1 .about .comment { padding:10px 0; margin:0; }
body.stones-item .stone1 .info { padding-left:10px; border-left:1px solid #666; }

body.stones-item .datalist { width:100%; margin-bottom:10px; }
body.stones-item .datalist td { vertical-align:top; padding:5px 0; }
body.stones-item .datalist .title { white-space:nowrap; text-align:right; color:#888; }
body.stones-item .datalist .data { padding-left:10px; }

body.stones-item .fotos { margin:20px 0; overflow:hidden; }
body.stones-item .fotos .list { background:#000; padding:5px; text-align:center; overflow:hidden; }
body.stones-item .fotos .list a.item { display:inline-block; margin:10px; }
body.stones-item .fotos .list a.item img { vertical-align:middle; }

body.stones-item .stock { margin:20px 0; overflow:hidden; }
body.stones-item .stock .user-edit { float:right; }
body.stones-item .projects {  }
body.stones-item .projects .user-edit { float:right; }

body.stones-item .ad1 { text-align:left; margin:10px 0; }
body.stones-item .ad2 { text-align:left; margin:0; padding:0; border:0; }
body.stones-item .ads125x125 { overflow:hidden; }
body.stones-item .ads125x125 > div.item { float:left; width:125px; height:125px; background:#eee; margin:0 10px 10px 0; }
body.stones-item .ads125x125 > div.item > a.filler { display:block; padding:50px 0 0 0; width:125px; height:75px; text-align:center; color:#999; font-weight:bold; text-decoration:none; }

/* Stone item's fotos page */

body.stones-fotos h1 { margin:5px 0 15px 0; }

/* List of groups (business areas), without and with added dashboard items. */

body.user.areas .list { overflow: hidden; }
body.user.areas .list .item { position: relative; overflow: hidden; width: 50%; height: 100px; float: left; margin: 10px 0; }
body.user.areas .list .item .picture { float: left; margin-right: 10px; }
body.user.areas .list .item .picture a { display: block; width: 100px; height: 100px; background-position: center center; background-repeat: no-repeat; background-size: cover; }
body.user.areas .list .item .about { }
body.user.areas .list .item .about .name {  }
body.user.areas .list .item .about .count {  }
body.user.areas .list .item .about .description { display: block; }

body.user.areas .list .item .group-form { display: block; padding: 10px 0 0 10px; position: absolute; bottom: 0; right: 0; left: 100px; background-color: rgba(255,255,255,0.75); }
body.user.areas .list .item .group-form.join-form {  }
body.user.areas .list .item .group-form.leave-form {  }

body.user.settings.areas .list .item .picture { opacity: 0.75; float: left; margin-right: 10px; }
body.user.settings.areas .list .item .about { opacity: 0.75; }
body.user.settings.areas .list .item.is-member .picture { opacity: 1; }
body.user.settings.areas .list .item.is-member .about { opacity: 1; }


/* Ads */

.fake.ads { background-color: gray; }
.ads.gc-resp-atf-stone-browse-1 { width: 928px; height: 90px; margin: 20px auto; }
.ads.gc-resp-btf-stone-browse-3 { width: 928px; height: 90px; margin: 20px auto; }



