{% extends 'gl4app/base.html' %}
{% load static %}

{% block title %}Define areas of business for {{user.profile.name}}{% endblock %}

{% block title2 %}Define areas of business for {{user.profile.name}}{% endblock %}

{% block description %}{% endblock %}

{% block head %}{% endblock %}

{% block body_classes %}company groups settings{% endblock %}

{% block breadcrumb %}
<a href="{% url 'companydb_home' %}">Natural Stone Company Directory</a> &raquo;
<a href="{% url 'companydb_item' user.username %}">{{user.profile.name}}</a> &raquo;
{% endblock %}

{% block main %}
  {% include 'companydb/partial_profile_options.html' with view_user=user %}

  <h1>Areas of Business for {{user.profile.name}}</h1>
  <p>Select up to 5 areas of business for your company. Please limit your selection to only those areas your company is actually active in.</p>

  {% include 'companydb/partial_group_list.html' with is_dashboard=True %}
  <hr>
  <p style="text-align:center">
    <a href="{% url 'companydb_item' user.username %}" class="btn btn-primary">Done</a>
  </p>
{% endblock %}
