{% extends 'gl4app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}About text for {{user.profile.name}}{% endblock %}

{% block title2 %}About text for {{user.profile.name}}{% endblock %}

{% block description %}{% endblock %}

{% block head %}{% endblock %}

{% block body_classes %}user settings about{% endblock %}

{% block breadcrumb %}
<a href="{% url 'companydb_home' %}">Natural Stone Company Directory</a> &raquo;
<a href="{% url 'companydb_item' user.username %}">{{user.profile.name}}</a> &raquo;
<a href="{% url 'companydb_dashboard' %}">Dashboard</a> &raquo;
{% endblock %}

{% block main %}

<h1>Edit presentation text</h1>

<div class="box-input">
  <p>The presentation text is the center part of your company's profile page.
    What is the history and success story of your company? Where are your strong
    points?</p>
  {% crispy form %}
</div>

{% endblock %}
