{% extends 'gl4app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Add a project your company has finished{% endblock %}

{% block title2 %}Add a project your company has finished{% endblock %}

{% block description %}{% endblock %}

{% block head %}
<style>
  .select2-result-stones { display: block; text-align: left; height: 30px; overflow: hidden; white-space: nowrap;  }
  .select2-result-stones .pic { display: inline-block; }
  .select2-result-stones .pic img { width: 200px; height: 30px; border: 0; background: gray; }
  .select2-result-stones .names { display: inline-block; }
  .select2-result-stones .names .name { display: inline; }
  .select2-result-stones .names .pseu { display: inline; color: gray; }

  .pic-item-list { padding: 10px 0; }
  .pic-item-list > .item { display: inline-block; margin: 0 5px 5px 0; }
  .pic-item-list img { padding: 5px; background: white; border: 1px solid #CCC; box-shadow: 1px 1px 3px rgba(0,0,0,0.28); }
</style>

{% endblock %}

{% block body_classes %}user settings project{% endblock %}



{% block breadcrumb %}
<a href="{% url 'companydb_home' %}">Natural Stone Company Directory</a> &raquo;
<a href="{% url 'companydb_item' user.username %}">{{user.profile.name}}</a> &raquo;
<a href="{% url 'companydb_dashboard' %}">Dashboard</a> &raquo;
<a href="{% url 'companydb_db_projects' %}">Add Project</a> &raquo;
{% endblock %}



{% block main %}

<div style="display: flex;">
  <div style="width: 50%;">
    <h1>Your projects</h1>
    {% for item in projects %}
    <p><a href="{% url 'companydb_db_projects_item' item.id %}">{{ item.id }}</a> -- {{ item.description }} -- {{ item.created }} -- {% for x in item.stones.all %} {{ x.name }} {% endfor %}</p>
    {% endfor %}
  </div>

  <div style="box-sizing: border-box; width: 50%; padding: 16px; background: #EEF;">
    <h2>Add a project</h2>
    <form  id="id_company-project-form" method="post" >
      {% csrf_token %}

      <div id="div_id_stones" class="form-group">
        <label for="id_stones" class="control-label  requiredField">
          Stones used<span class="asteriskField">*</span>
        </label>
        <div class="controls ">
          <select multiple="multiple" class="selectmultiple form-control" id="id_stones" name="stones">
            {% for x in project.stones.all %}
            <option selected="selected" value="{{ x.id }}">{{ x.name }}</option>
            {% endfor %}
          </select>
          <p id="hint_id_stones" class="help-block">Start typing the name of a stone used in the project, then select the stones from the list. Add all stones used in the project, but not more than ten.</p>
        </div>
      </div>

      {{ form.description|as_crispy_field }}

      <div id="div_id_pics" class="form-group multi-pic-upload-field">
        <label for="id_pic_upload_field" class="control-label">
          Attach pictures
        </label>
        <div class="controls ">
          <div class="pic-upload-field">
            <input type="file" id="id_pic_upload_field">
          </div>
          <div class="pic-item-list">
            {% for x in project.get_pics_list %}
            <div class="item" id="id_pics_{{x.id}}"><input style="display: none;" type="checkbox" checked="checked" name="pics" value="{{ x.id }}"><img src="{{ x.url_thumb }}" alt="" width="100" height="100"></div>
            {% endfor %}
          </div>
          <p id="hint_id_pics" class="help-block">Upload up to 20 pictures of this project.</p>
        </div>
      </div>

      <div class="form-group">
        <div class="controls ">
          <input type="submit" name="save" value="Submit" class="btn btn-primary" id="submit-id-save" />
        </div>
      </div>

    </form>
  </div>
</div>

{% endblock %}



{% block foot %}

<script>

$('#id_pic_upload_field').on('change', function(ev){
  ev.preventDefault();
  ev.stopPropagation();

  var postUrl = "{% url 'companydb_db_pics' %}";
  var file_data = $(this).prop("files")[0];
	var form_data = new FormData();
  var oPicItemList = $('.pic-item-list');

	form_data.append("pic", file_data);
	form_data.append("module", "projects");
	form_data.append("csrfmiddlewaretoken", Cookies.get("csrftoken"));

  console.log('BEGIN UPLOAD...');

	$.ajax({
	  url: postUrl,
    dataType: 'json',
    cache: false,
    contentType: false,
    processData: false,
    data: form_data,
    type: 'post',

    success: function( json ) {
      console.log( 'SUCCESS.', json );
      $(oPicItemList).prepend( '<div class="item" id="id_pics_' + json.pic.id + '"><input style="display: none;" type="checkbox" checked="checked" name="pics" value="' + json.pic.id + '"><img src="' + json.pic.url_thumb + '" alt="" width="100" height="100"></div>' );
    },
    error: function( xhr, status, errorThrown ) {
      console.log( 'ERROR.', xhr, status );
    },
    complete: function( xhr, status ) {
      console.log('UPLOAD COMPLETE.');
    },
  });
});

$("#id_stones").select2({
  ajax: {
    url: "{% url 'stonedb_api_search' %}",
    dataType: 'json',
    delay: 250,
    data: function (params) {
      return { q: params.term,  };
    },
    processResults: function (data, params) {
      return { results: data.items, };
    },
    cache: true,
  },
  escapeMarkup: function (markup) { return markup; },
  minimumInputLength: 3,
  maximumSelectionLength: 10,
  templateResult: formatResult,
  templateSelection: formatResultSelection,
});

function formatResult (item) {
  if (item.loading) return item.name;

  return "<div class='select2-result-stones'>" +
         "  <div class='pic'><img src='" + item.pic + "'></div>" +
         "  <div class='names'>" +
         "    <div class='name'>" + item.name + "</div> " +
         "    <div class='pseu'>" + item.pseu + "</div>";
         "  </div>" +
         "</div>";
}

function formatResultSelection (item) {
  return item.text || item.name;
}

</script>

{% endblock %}
