{% extends 'gl4app/base.html' %}
{% load i18n %}

{% block title %}{{user.profile.name}}{% endblock %}

{% block title2 %}{{user.profile.name}}{% endblock %}

{% block description %}{% endblock %}

{% block head %}{% endblock %}

{% block body_classes %}profile profile-home{% endblock %}

{% block breadcrumb %}
<a href="{% url 'companydb_home' %}">{% trans 'Natural Stone Company Directory' %}</a> &raquo;
<a href="{% url 'companydb_item' user.username %}">{{user.profile.name}}</a> &raquo;
<a href="{% url 'companydb_delete' user.username %}">{% trans 'delete' %}</a> &raquo;
{% endblock %}

{% block main %}

<h1>{% trans 'Delete you company profile' %}</h1>

<p>{% trans 'This CAN NOT be undone. Once delete, you company profile is gone and can NOT be restored.' %}</p>

<form method="POST" action="">
  {% url 'companydb_item' user.username %}
</form>

{% endblock %}

{% block foot %}{% endblock %}
