{% extends 'gl4app/base.html' %}

{% block title %}Buisiness Types of Granite Companies{% endblock %}

{% block title2 %}Buisiness Types of Granite Companies{% endblock %}

{% block description %}Find stone companies related to the granite and marble industry by business type.{% endblock %}

{% block head %}{% endblock %}

{% block body_classes %}user areas{% endblock %}

{% block breadcrumb %}
<a href="{% url 'companydb_home' %}">Natural Stone Company Directory</a> &raquo;
{% endblock %}

{% block main %}

<h1>Natural stone buisiness areas</h1>

<div style="margin:0; padding:15px 0 0 0; border-top:1px solid #c0c0c0;">
  {% if settings.PRODUCTION %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- gc resp atf companies sections -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-0795994016573783"
         data-ad-slot="3738624848"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  {% else %}
    <div style="margin:0; padding:0; height:90px; background:gray;"></div>
  {% endif %}
</div>

{% include 'companydb/partial_group_list.html' %}

<div style="margin:0; padding:15px 0; border-top:1px solid #c0c0c0; border-bottom:1px solid #c0c0c0;">
  {% if settings.PRODUCTION %}
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- gc resp btf companies sections -->
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-0795994016573783" data-ad-slot="6692091242" data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  {% else %}
  <div style="margin:0; padding:0; height:90px; background:gray;"></div>
  {% endif %}
</div>
{% endblock %}

{% block foot %}
{% endblock %}
