{% extends 'gl4app/base.html' %}
{% load gl4tags i18n %}

{% block title %}{% trans 'Buisiness Types of Granite Companies' %}{% endblock %}

{% block title2 %}{% trans 'Buisiness Types of Granite Companies' %}{% endblock %}

{% block description %}{% trans 'Find stone companies related to the granite and marble industry by business type.' %}{% endblock %}

{% block head %}{% endblock %}

{% block body_classes %}company groups{% endblock %}

{% block breadcrumb %}
<a href="{% url 'companydb_home' %}">{% trans 'Natural Stone Company Directory' %}</a> &raquo;
{% endblock %}

{% block main %}

<h1>{% trans 'Natural stone buisiness areas' %}</h1>

{% adsense '3738624848' 'gc resp atf companies sections' %}

{% include 'companydb/partial_group_list.html' %}

{% adsense '6692091242' 'gc resp btf companies sections' %}

{% endblock %}

{% block foot %}
{% endblock %}
