{% extends 'base.html' %}

{% block title %}
{{view_user.profile.name}}
{% endblock %}

{% block title2 %}
{{view_user.profile.name}}
{% endblock %}

{% block description %}
The company overview for {{view_user.profile.name}}.
{% endblock %}

{% block head %}
{% endblock %}

{% block body_classes %}
profile profile-home
{% endblock %}

{% block breadcrumb %}
<a href="{% url 'companydb_home' %}">Natural Stone Company Directory</a> &raquo;
<a href="{% url 'companydb_item' view_user.username %}">{{view_user.profile.name}}</a> &raquo;
{% endblock %}

{% block main %}

<h1 id="about-company-title">{{view_user.profile.name}}</h1>

{% with 'item' as view %}{% include 'companydb/tabnavi2.html' %}{% endwith %}

<table class="layout">
  <tr>
    <td class="leftcol">
      <table class="profile-contact-info">
        <tr>
          <td></td>
          <td>
            <strong>{{view_user.profile.name}}</strong>
          </td>
        </tr>
        <tr>
          <td>Contact:</td>
          <td style="width:100%">{{view_user.profile.contact}} ({{view_user.profile.contact_position}})</td>
        </tr>
        <tr>
          <td>Website:</td>
          <td><a onClick="recOutLink(this, 'Company Links', '/company/xiamen-heads-import-and-export'); return false;" rel="nofollow" href="{{view_user.profile.web}}">{{view_user.profile.web}}</a></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><a href="/company/xiamen-heads-import-and-export/contact">Contact form</a></td>
        </tr>
        <tr>
          <td>Phone:</td>
          <td>{{view_user.profile.fon}}</td>
        </tr>
        <tr>
          <td>Fax:</td>
          <td>{{view_user.profile.fax}}</td>
        </tr>
        <tr>
          <td>Address:</td>
          <td>{{view_user.profile.street}}, {{view_user.profile.zip}} {{view_user.profile.city}}, {{view_user.profile.country_name}}</td>
        </tr>
      </table>

      <div id="about-company-about">
        {{view_user.profile.about}}
      </div>
    </td>

    <td class="middlecol">
      <div class="fotoslist">
        <div class="list">
          {% for pic in pics %}
            <div class="item">
              <a href="{% url 'companydb_pic_item' pic.id  %}">
                <img src="/media/en/fotos_small/{{pic.id}}.jpg" alt="{{pic.title}}">
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </td>

    <td class="rightcol">
      <div class="tbox">
        <div class="title">Business areas</div>
        <div class="content">
          <ul>
            {% for group in view_user.group_set.all %}
              <li><a href="{% url 'companydb_list' group.slug '1' %}">{{group.name}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </td>
  </tr>
</table>

{% endblock %}

{% block foot %}
{% endblock %}
