{% extends 'gl4app/base.html' %}
{% load i18n markdown_deux_tags bleach_tags gl4tags crispy_forms_tags %}

{% block title %}{{view_user.profile.name}}{% endblock %}

{% block title2 %}{{view_user.profile.name}}{% endblock %}

{% block description %}{% blocktrans with profile_name=view_user.profile.name %}Company overview for {{profile_name}}.{% endblocktrans %}{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block body_classes %}profile profile-home{% endblock %}

{% block breadcrumb %}
<a href="{% url 'companydb_home' %}">{% trans 'Natural Stone Company Directory' %}</a> &raquo;
<a href="{% url 'companydb_item' view_user.username %}">{{view_user.profile.name}}</a> &raquo;
{% endblock %}

{% block main %}
  {% with view='item' %}{% include 'companydb/user-profile-header.html' %}{% endwith %}

<section class="profile-business-areas">
  {% for group in view_user.group_set.all %}
    <a href="{% url 'companydb_group' group.slug '1' %}">{{group.name}}</a>{% if not forloop.last %}, {% endif %}
  {% endfor %}
  {% if user.is_authenticated and user.id == view_user.id %}
    <a class="btn btn-default" href="{% url 'companydb_areas' user.username %}">{% trans 'edit' %}</a>
  {% endif %}
</section>

{% if user.is_authenticated and user.id == view_user.id %}
  <a class="profile-business-card-edit btn btn-default" href="{% url 'companydb_details' user.username %}">{% trans 'edit' %}</a>
{% endif %}

<div class="profile-info-fotos">
  <section class="profile-business-card">

    <div class="line1">
      <div class="name">{{view_user.profile.name}}</div>
      {% if view_user.profile.web %}
      <div class="web"><a rel="nofollow" href="{{view_user.profile.web|fix_external_link}}">{{view_user.profile.web}}</a></div>
      {% endif %}
    </div>

    <dl class="line2">
      <dt>{% trans 'Contact' %}:</dt>
      <dd>{{view_user.profile.contact}} ({{view_user.profile.contact_position}})</dd>
    </dl>

    <div class="line3">
      <a href="#contact" class="btn btn-primary btn-lg">
        {% blocktrans with name=view_user.profile.name %}Message {{name}} now{% endblocktrans %}
      </a>
      <div class="profile-call-now">
        <div>{% trans 'or call at:' %}</div>
        <div>{{view_user.profile.tel}}</div>
        {% if view_user.profile.mobile %}
        <div>{% trans 'or mobile:' %} {{view_user.profile.mobile}}</div>
        {% endif %}
      </div>
    </div>

    <dl class="line4">
      <dt>{% trans 'Address' %}:</dt>
      <dd>
        {{view_user.profile.street}}, {{view_user.profile.zip}} {{view_user.profile.city}},
        {% if view_user.profile.country_sub_name %}{{view_user.profile.country_sub_name}}, {% endif %}
        {{view_user.profile.country_name}}
      </dd>
    </dl>
  </section>

  <section class="fotoslist">
    <div class="list">
      {% for pic in pics %}
        <div class="item">
          <a href="{% url 'companydb_pic_item' pic.id  %}"><img src="{{pic|picsrc}}" alt="{{pic.title}}"></a>
        </div>
      {% endfor %}
    </div>
  </section>
</div>

<section id="about-company-about" class="company-about">
  {% if user.is_authenticated and user.id == view_user.id %}
    <div style="float: left;">
      <a class="btn btn-default" href="{% url 'companydb_about' user.username %}">{% trans 'edit' %}</a>
    </div>
  {% endif %}
  {{view_user.profile.about|markdown|bleach}}
</section>

<div class="box-input" id="contact">
  <h2>{% blocktrans with name=view_user.profile.name %}Contact {{name}}{% endblocktrans %}</h2>
  {% crispy contactform %}
</div>

<p>Last active: {{ view_user.last_login|date:"SHORT_DATE_FORMAT" }} </p>

{% if user.is_authenticated and user.id == view_user.id %}
  <hr>
  <h2>{% trans 'More settings' %}</h2>
  <ul>
    <li><a href="{% url 'account_email' %}">Update your Email address</a></li>
    <li><a href="{% url 'account_change_password' %}">Change your password</a></li>
    <li><a href="{% url 'companydb_delete' user.username %}">Delete your account</a></li>
  </ul>
{% endif %}

{% endblock %}

{% block foot %}
<script>
  $('.profile-website a').on('click', function(ev) {
    var href = this.attr('href');
    recOutLink(this, 'Company Links', href);
  });
</script>
{% endblock %}
