{% extends 'gl4app/base.html' %}
{% load i18n markdown_deux_tags bleach_tags gl4tags %}

{% block title %}{{view_user.profile.name}}{% endblock %}

{% block title2 %}{{view_user.profile.name}}{% endblock %}

{% block description %}{% blocktrans with profile_name=view_user.profile.name %}Company overview for {{profile_name}}.{% endblocktrans %}{% endblock %}

{% block head %}
<style>
  section.profile-business-areas { font-size: 20px; text-align: center; margin: 16px 0; }
  div.profile-info-fotos { display: flex; }
  div.profile-info-fotos > section { width: 50% !important; box-sizing: border-box; }
  div.profile-info-fotos > section > .list { width: 100%; box-sizing: border-box; }
</style>
{% endblock %}

{% block body_classes %}profile profile-home{% endblock %}

{% block breadcrumb %}
<a href="{% url 'companydb_home' %}">{% trans 'Natural Stone Company Directory' %}</a> &raquo;
<a href="{% url 'companydb_item' view_user.username %}">{{view_user.profile.name}}</a> &raquo;
{% endblock %}

{% block main %}
  {% with view='item' %}{% include 'companydb/user-profile-header.html' %}{% endwith %}

<section class="profile-business-areas">
  {% for group in view_user.group_set.all %}
    <a href="{% url 'companydb_list' group.slug '1' %}">{{group.name}}</a>{% if not forloop.last %}, {% endif %}
  {% endfor %}
  {% if user.is_authenticated and user.id == view_user.id %}
    <a class="btn btn-primary" href="{% url 'companydb_areas' user.username %}">{% trans 'edit' %}</a>
  {% endif %}
</section>

<div class="profile-info-fotos">
  <section class="profile-contact-info">
    {% if user.is_authenticated and user.id == view_user.id %}
      <div style="float: right;">
        <a class="btn btn-primary" href="{% url 'companydb_details' user.username %}">{% trans 'edit' %}</a>
      </div>
    {% endif %}
    <dl class="profile-name"><dt>{% trans 'Company' %}:</dt><dd>{{view_user.profile.name}}</dd></dl>
    <dl class="profile-contact"><dt>{% trans 'Contact' %}:</dt><dd>{{view_user.profile.contact}} ({{view_user.profile.contact_position}})</dd></dl>
    <dl class="profile-website"><dt>{% trans 'Website' %}:</dt><dd><a rel="nofollow" href="{{view_user.profile.web}}">{{view_user.profile.web}}</a></dd></dl>
    <dl class="profile-email"><dt>{% trans 'Email' %}:</dt><dd><a rel="nofollow" href="./contact">contact form</a></dd></dl>
    <dl class="profile-phone"><dt>{% trans 'Phone' %}:</dt><dd>{{view_user.profile.tel}} {% if view_user.profile.mobile %}({% trans 'cel' %}: {{view_user.profile.mobile}}){% endif %}</dd></dl>
    <dl class="profile-address"><dt>{% trans 'Address' %}:</dt><dd>{{view_user.profile.street}}, {{view_user.profile.zip}} {{view_user.profile.city}}, {% if view_user.profile.country_sub_name %}{{view_user.profile.country_sub_name}}, {% endif %}{{view_user.profile.country_name}}</dd></dl>
  </section>

  <section class="fotoslist">
    <div class="list">
      {% for pic in pics %}
        <div class="item">
          <a href="{% url 'companydb_pic_item' pic.id  %}"><img src="{{pic|picsrc}}" alt="{{pic.title}}"></a>
        </div>
      {% endfor %}
    </div>
  </section>
</div>

<div id="about-company-about">
  {% if user.is_authenticated and user.id == view_user.id %}
    <div style="float: right;">
      <a class="btn btn-primary" href="{% url 'companydb_about' user.username %}">{% trans 'edit' %}</a>
    </div>
  {% endif %}
  {{view_user.profile.about|markdown|bleach}}
</div>

<p>Last active: {{ view_user.last_login|date:"SHORT_DATE_FORMAT" }} </p>

{% if user.is_authenticated and user.id == view_user.id %}
  <hr>
  <h2>More settings</h2>
  <ul>
    <li><a href="{% url 'account_email' %}">Update your Email address</a></li>
    <li><a href="{% url 'account_change_password' %}">Change your password</a></li>
    <li><a href="{% url 'companydb_delete' user.username %}">Delete your account</a></li>
  </ul>
{% endif %}

{% endblock %}

{% block foot %}
<script>
  $('.profile-website a').on('click', function(ev) {
    var href = this.attr('href');
    recOutLink(this, 'Company Links', href);
  });
</script>
{% endblock %}
