{% extends 'gl4app/base.html' %}
{% load gl4tags static i18n markdown_deux_tags bleach_tags %}

{% block title %}{{obj.name}}{% endblock %}

{% block title2 %}{{obj.name}}{% endblock %}

{% block description %}{{obj.description}}{% endblock %}

{% block head %}{% endblock %}

{% block body_classes %}company list product{% endblock %}

{% block breadcrumb %}
<a href="{% url 'companydb_home' %}">{% trans 'Natural Stone Company Directory' %}</a> &raquo;
{% endblock %}

{% block main %}

{% if user.is_staff %}
  <div id="id-staff-links">
    <a href="{% url 'admin:companydb_product_change' obj.pk %}">edit product</a>
  </div>
{% endif %}

<h1>{% blocktrans with name=obj.name %}Companies selling {{ name }}{% endblocktrans %}</h1>

<div class="above">
  <div class="intro">
    {% if obj.title_foto %}<div class="logo" style="background-image: url({{ obj.title_foto }});"></div>{% endif %}
    {% if users.paginator.count > 0 %}
      <div class="info">{% blocktrans with name=obj.name count=users.paginator.count %}Below are {{ count }} companies selling {{ name }}.{% endblocktrans %}</div>
    {% else %}
      <div class="info">{% blocktrans with name=obj.name count=users.paginator.count %}Sorry, there are currently no companies here that sell {{ name }}.{% endblocktrans %}</div>
    {% endif %}
    <div class="about">{{ obj.about|markdown|bleach }}</div>
  </div>
  <div class="ads">
    {% if users|length > 0 %}
      <div class="ad1">
        {% adsense '9645557647' 'gc resp atf companies list' %}
        {% adsense '2122290844' 'gd resp atf companies list' %}
      </div>
    {% endif %}
  </div>
</div>

{% if users.paginator.count > 0 %}
  <div class="company-list">
    {% for item in users %}
      <a href="{% url 'companydb_item' item.username %}" class="item" id="groupmemberlist{{item.id}}">
        <span class="pic" style="background-image: url({{ item.profile.title_foto_url|default:'/static/img/nofoto200.jpg' }})"></span>
        <span class="info">
          <span class="name">{{item.profile.name}}</span>
          <span class="location">{{ item.profile.city }}, {{ item.profile.country.name }}</span>
          <span class="description">{{ item.profile.about|truncatewords:25 }}</span>
        </span>
      </a>
    {% endfor %}
  </div>
{% endif %}

<div class="below">
  <div class="ads">
    {% if users|length > 10 %}
      <div class="ad1">
        {% adsense '3599024047' 'gc resp btf companies list' %}
        {% adsense '5075757241' 'gd resp btf companies list' %}
      </div>
    {% endif %}
  </div>
</div>

{% include 'companydb/partial_list_prevnext.html' with viewname='companydb_product' %}

{% endblock %}

{% block foot %}
{% endblock %}
