{% extends 'gl4app/base.html' %}
{% load gl4tags static i18n %}

{% block title %}{% blocktrans with business=business.name product=product.name country=country.name %}{{ business }} {{ product }} {{ country }}{% endblocktrans %}{% endblock %}

{% block title2 %}{% blocktrans with business=business.name product=product.name country=country.name %}{{ business }} {{ product }} {{ country }}{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans with business=business.name product=product.name country=country.name count=users.paginator.count %}Found {{ count }} companies for {{ business }} {{ product }} {{ country }}{% endblocktrans %}{% endblock %}

{% block head %}{% endblock %}

{% block body_classes %}company list search{% endblock %}

{% block breadcrumb %}
<a href="{% url 'companydb_home' %}">{% trans 'Natural Stone Company Directory' %}</a> &raquo;
{% if country %}<a href="{% url 'companydb_country' country.slug '1' %}">{{ country.name }}</a> &raquo;{% endif %}
{% if business %}<a href="{% url 'companydb_group' business.slug '1' %}">{{ business.name }}</a> &raquo;{% endif %}
{% if product %}<a href="{% url 'companydb_product' product.slug '1' %}">{{ product.name }}</a> &raquo;{% endif %}
{% endblock %}

{% block main %}

{% if user.is_staff %}
  <div id="id-staff-links">
    {% if business %}<a href="{% url 'admin:companydb_group_change' business.pk %}">edit business</a>{% endif %}
    {% if product %}<a href="{% url 'admin:companydb_product_change' product.pk %}">edit product</a>{% endif %}
    {% if country %}<a href="{% url 'admin:companydb_country_change' country.pk %}">edit country</a>{% endif %}
  </div>
{% endif %}

{% if not users %}

  <h1>{% trans 'No matching companies found' %}</h1>
  <p>{% trans 'Sorry, there are no companies matching your selected seach options.' %}</p>

{% else %}

  {% if users|length == 1 %}
    <h1>{% trans 'One company found' %}</h1>
  {% else %}
    <h1>{% blocktrans with count=users|length %}{{count}} companies found{% endblocktrans %}</h1>
  {% endif %}

  <div class="above">
    {% if users|length > 10 %}
      <div class="ads">
        {% if users.paginator.count > 0 %}
          <div class="ad1">
            {% adsense '9645557647' 'gc resp atf companies list' %}
            {% adsense '2122290844' 'gd resp atf companies list' %}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>

  <div class="company-list">
    {% for item in users %}
      <a href="{% url 'companydb_item' item.username %}" class="item" id="groupmemberlist{{item.id}}">
        <span class="pic" style="background-image: url({{ item.profile.title_foto_url|default:'/static/img/nofoto200.jpg' }})"></span>
        <span class="info">
          <span class="name">{{item.profile.name}}</span>
          <span class="location">{{ item.profile.city }}, {{ item.profile.country.name }}</span>
          <span class="description">{{ item.profile.about|truncatewords:25 }}</span>
        </span>
      </a>
    {% endfor %}
  </div>

  <div class="below">
    {% if users|length > 10 %}
      <div class="ads">
          {% adsense '3599024047' 'gc resp btf companies list' %}
          {% adsense '5075757241' 'gd resp btf companies list' %}
      </div>
    {% endif %}
  </div>

  {% include 'companydb/partial_list_prevnext.html' with viewname='companydb_search' %}

{% endif %}

{% endblock %}

{% block foot %}
{% endblock %}
