{% extends 'gl4app/base.html' %}
{% load i18n markdown_deux_tags bleach_tags gl4tags %}

{% block title %}{{pic.title}}{% endblock %}

{% block title2 %}{{pic.title}}{% endblock %}

{% block description %}{{pic.title}}{% endblock %}

{% block head %}{% endblock %}

{% block body_classes %}profile fotos fotos-{{pic.module}}{% endblock %}


{% block breadcrumb %}
  <a href="{% url 'companydb_home' %}">{% trans 'Natural Stone Company Directory' context 'Breadcrumb' %}</a> &raquo;
  <a href="{% url 'companydb_item' pic.user.username %}">{{pic.user.profile.name}}</a> &raquo;
  {% if pic.module == 'projects' %}
    <a href="{% url 'companydb_projects' pic.user.username %}">{% trans 'Project' %}</a> &raquo;
  {% elif pic.module == 'stock' %}
    <a href="{% url 'companydb_stock' pic.user.username %}">{% trans 'Stock' %}</a> &raquo;
  {% elif pic.module == 'stones' %}
    <a href="{% url 'stonedb_item' related.slug %}">{{related.name}}</a> &raquo;
  {% endif %}
{% endblock %}


{% block main %}
  {% include 'companydb/partial_profile_options.html' %}

  {% if pic.module == 'projects' %}

    {% with 'projects' as view %}{% include 'companydb/user-profile-header.html' %}{% endwith %}

  {% elif pic.module == 'stock' %}

    {% with 'stock' as view %}{% include 'companydb/user-profile-header.html' %}{% endwith %}

  {% elif pic.module == 'profile' %}

    {% with 'photos' as view %}{% include 'companydb/user-profile-header.html' %}{% endwith %}

  {% endif %}

  <div style="clear: both;">
    {% if user.is_authenticated and pic.user.id == user.id %}
      <form method="POST" action="{% url 'companydb_pic_item' pic.id %}" onsubmit="return confirm('Delete this picture?');">
        {% csrf_token %}
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete this picture">
      </form>
    {% endif %}
  </div>

  <div id="display-foto">
    <div class="fotoitem">
      <div class="ctrl">
        {% if pic.module == 'projects' %}
          <b><a class="back" href="{% url 'companydb_projects' pic.user.username %}">Back</a></b>
        {% elif pic.module == 'stock' %}
          <b><a class="back" href="{% url 'companydb_stock' pic.user.username %}">Back</a></b>
        {% elif pic.module == 'profile' %}
          <b><a class="back" href="{% url 'companydb_item' pic.user.username %}">Back</a></b>
        {% elif pic.module == 'stones' %}
          <b><a class="back" href="{% url 'stonedb_item' related.slug %}">Back</a></b>
        {% endif %}
        | <a href="{{pic|picsrc:'large'}}">{% trans 'Download large photo' %}</a>
        | {% blocktrans with created=pic.created %}Uploaded on {{created}} by:{% endblocktrans %}
        <a href="{% url 'companydb_item' pic.user.username %}">{{pic.user.profile.name}}</a>
      </div>
      <img class="pic" src="{{pic|picsrc:'medium'}}" alt="{{pic.title}}">
    </div>
    <div class="caption" id="view-caption">{{pic.caption}}</div>
  </div>
{% endblock %}

{% block foot %}
{% endblock %}
