{% extends 'gl4app/base.html' %}
{% load i18n gl4tags %}

{% block title %}{% blocktrans with name=view_user.profile.name %}Stock items of {{ name }}{% endblocktrans %}{% endblock %}

{% block title2 %}{% blocktrans with name=view_user.profile.name %}Stock items of {{ name }}{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans with name=view_user.profile.name city=view_user.profile.city country=view_user.profile.country.name %}Natural stone the company {{ name }} has currently on stock in {{ city }}, {{ country }}.{% endblocktrans %}{% endblock %}

{% block head %}{% endblock %}

{% block body_classes %}profile profile-home{% endblock %}

{% block breadcrumb %}
<a href="{% url 'companydb_home' %}">{% trans 'Natural Stone Company Directory' context 'Breadcrumb' %}</a> &raquo;
<a href="{% url 'companydb_item' view_user.username %}">{{ view_user.profile.name }}</a> &raquo;
<a href="{% url 'companydb_stock' view_user.username %}">{% trans 'Stock' %}</a> &raquo;
{% endblock %}

{% block main %}
  {% include 'companydb/partial_profile_options.html' with view='stock' %}
  {% include 'companydb/user-profile-header.html' with view='stock' %}

  {% for item in stock %}
    {% include 'companydb/stock_item_partial.html' with detail_link=1 %}
  {% endfor %}
{% endblock %}

{% block foot %}{% endblock %}
