{% extends 'gl4app/base.html' %}
{% load static i18n crispy_forms_tags %}

{% block title %}{% trans 'Add current stock items' %}{% endblock %}

{% block title2 %}{% trans 'Add current stock items' %}{% endblock %}

{% block description %}{% endblock %}

{% block head %}
<style>
  .wrapper {  }

  .stock-add { margin: 0; padding: 15px; }
  .stock-add > a { font-size: 1.25em; }
  .stock-add.selected { background: #EEF; }
  .stock-add > form { }
  .stock-add.selected > form { display: block; }
  .stock-add > form select { width: 350px; }

  .stock-add > form .two-cols { display: flex; }
  .stock-add > form .two-cols .left { width: 50%; margin-right: 20px; }
  .stock-add > form .two-cols .right { width: 50%; margin-left: 20px; }

  .stock-add .dim-type-total {  }
  .stock-add .dim-type-total div.form-group { display: inline-block; width: 150px; vertical-align: top; }
  .stock-add .dim-type-total label { white-space: nowrap; }
  .stock-add .dim-type-total div select { width: 100%; }
  .stock-add .dim-type-total div#div_id_dim_type { width: 140px; }
  .stock-add .dim-type-total div#div_id_dim_total { width: 100px; }
  .stock-add .dim-type-total div#div_id_dim_unit { width: 130px; }

  .stock-add textarea[name="description"] { width: 100%; height: 100px; }

  .list { background: transparent; margin: 0; padding: 0; }
  .list > .item { margin: 0; padding: 10px 5px; border-top: 1px solid #CCC; }
  .list > .item.selected { background: #EEF; }
  .list > .item > div { margin: 5px 0; }
  .list > .item > div > .tt { font-weight: bold; }
  .list > .item > .line-date { font-size: 1.15em; }
  .list > .item > .line-stones {  }
  .list > .item > .line-pics {  }
  .list > .item > .line-pics img { width: 50px; height: 50px; margin: 4px 4px 4px 0; padding: 3px; background: white; border: 1px solid #CCC; box-shadow: 1px 1px 2px rgba(0,0,0,0.28); }
  .list > .item > .line-descr { color: gray; }

  .select2-result-stones { display: block; text-align: left; height: 30px; overflow: hidden; white-space: nowrap; }
  .select2-result-stones .pic { display: inline-block; }
  .select2-result-stones .pic img { width: 200px; height: 30px; border: 0; background: gray; }
  .select2-result-stones .names { display: inline-block; }
  .select2-result-stones .names .name { display: inline; }
  .select2-result-stones .names .pseu { display: inline; color: gray; }

  .pic-item-list { padding: 10px 0; }
  .pic-item-list > .none { line-height: 50px; text-align: center; }
  .pic-item-list > .item { display: inline-block; margin: 0 5px 5px 0; position: relative; }
  .pic-item-list > .item img { padding: 5px; background: white; border: 1px solid #CCC; box-shadow: 1px 1px 3px rgba(0,0,0,0.28); width: 100px; height: 100px; }
  .pic-item-list > .item .del { background: rgba(0,0,0,0.28); color: black; font-size: 40px; text-shadow: 0 0 2px rgba(255,255,255,0.82); line-height: 100px; padding: 0; width: 100px; height: 100px; text-align: center; position: absolute; top: 0; right: 0; bottom: 0; left: 0; opacity: 0; }
  .pic-item-list > .item:hover .del { opacity: 1; cursor: pointer; }
</style>
{% endblock %}

{% block body_classes %}user settings stock{% endblock %}

{% block breadcrumb %}
<a href="{% url 'companydb_home' %}">{% trans 'Natural Stone Company Directory' %}</a> &raquo;
<a href="{% url 'companydb_item' view_user.username %}">{{view_user.profile.name}}</a> &raquo;
<a href="{% url 'companydb_stock' view_user.username %}">{% trans 'Stock' %}</a> &raquo;
{% endblock %}

{% block main %}

<div class="wrapper">
  {% with view='stock' %}{% include 'companydb/user-profile-header.html' %}{% endwith %}

  {% if view_item and form %}
  <form method="POST" action="" onsubmit="return confirm('{% trans 'Delete item from company stock?' %}');">
    {% csrf_token %}
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn btn-default btn-sm" style="float: right;">{% trans 'delete item' %}</button>
  </form>
  <h1 data-id="{{view_item.id}}">{% trans 'Edit stock' %} {{ view_item.id }}</h1>
  {% else %}
  <h1>{% trans 'Stock item' %} #{{view_item.pk}}</h1>
  {% endif %}

  {% if form %}
    <div id="add" class="stock-add">
      <form id="id_company-stock-form" method="post" action="">
        {% csrf_token %}
        <div class="two-cols">
          <div class="left">
            <div id="div_id_stone" class="form-group">
              <label for="id_stone" class="control-label  requiredField">
                {% trans 'Stone in stock' %}<span class="asteriskField">*</span>
              </label>
              <div class="controls ">
                <select class="form-control" id="id_stone" name="stone">
                  {% if stockitem %}
                  <option selected="selected" value="{{ view_item.stone.id }}">{{ view_item.stone.name }}</option>
                  {% endif %}
                </select>
                <p id="hint_id_stones" class="help-block">{% trans 'Start typing the name of the stone, then select it from the list.' %}</p>
              </div>
            </div>

            <div class="dim-type-total">
              {{ form.dim_type|as_crispy_field }}
              {{ form.dim_total|as_crispy_field }}

              <div id="div_id_dim_unit" class="form-group">
                <label for="id_dim_unit" class="control-label ">
                    {% trans 'Unit' %}
                </label>
                <div class="controls ">
                  <select class="select form-control" id="id_dim_unit" name="dim_unit">
                    <option value="0" selected="selected">{% trans 'square meter' %}</option>
                    <option value="1">{% trans 'square foot' %}</option>
                    <option value="2">{% trans 'cubic meter' %}</option>
                    <option value="3">{% trans 'cubic foot' %}</option>
                  </select>
                  <p id="hint_id_dim_unit" class="help-block">{% trans 'Select a unit of measurement.' %}</p>
                </div>
              </div>
            </div>

          </div>
          <div class="right">

            {{ form.description|as_crispy_field }}

            <div id="div_id_pics" class="form-group multi-pic-upload-field">
              <label for="id_pic_upload_field" class="control-label">
                {% trans 'Attach pictures' %}
              </label>
              <div class="controls ">
                <div class="pic-upload-field">
                  <input type="file" id="id_pic_upload_field">
                  <span class="loading" style="display:none"><span></span><span></span><span></span></span>
                </div>
                <div class="pic-item-list">
                  {% for x in view_item.get_pics_list %}
                  <div class="item" id="id_pics_{{x.id}}" data-url="{% url 'companydb_pic_item' x.id %}">
                    <input style="display: none;" type="checkbox" checked="checked" name="pics" value="{{ x.id }}">
                    <img src="{{ x.url_thumb }}" alt="">
                    <div class="del">X</div>
                  </div>
                  {% empty %}
                  <div class="none">{% trans 'no pictures' %}</div>
                  {% endfor %}
                </div>
                <p id="hint_id_pics" class="help-block">{% trans 'Upload up to 20 pictures of this project.' %}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="controls ">
            <button type="submit" name="save" class="btn btn-primary" id="submit-id-save">{% trans 'Save' %}</button>
          </div>
        </div>

      </form>
    </div>
  {% else %}

<p>... Stock item view ...</p>

  {% endif %}

</div>

{% endblock %}


{% block foot %}

<script>

$('a[href="#add-stock-item"]').on('click', function(ev){
  ev.preventDefault();
  $('.stock-add').toggleClass('selected');
});

$( '#id_company-stock-form' ).on( 'submit', function( ev ){
  if( ! $( '#id_description' ).val() ) {
    alert('Please provide a short description of the stock item.');
    ev.preventDefault();
  }
});

function item_del_onclick(ev){
  var oItem = $(this).parents('.item');
  console.log( $(oItem) );

  if(confirm('Delete this picture?')) {
    // stored on server, so make sure it was intentional click
    var postUrl = $(oItem).data('url');
    if(!postUrl) { alert('No post URL!'); return; }
    var csrfToken = Cookies.get("csrftoken");

    console.log('csrf token: ', csrfToken);
    console.log('postUrl: ', postUrl);

    $.ajax({
      url: postUrl,
      type: 'DELETE',
      dataType: 'json',
      data: { _method: 'DELETE', module: "stock", csrfmiddlewaretoken: csrfToken },
    }).then(
      function(data) {
        $(oItem).fadeOut(200);
        setTimeout(function(){ $(oItem).remove(); }, 200);
        console.log('SUCCESS.', data);
      },
      function(xhr, status, errorThrown) {
        console.log( 'ERROR.', xhr, status );
      }
    );
  }
}

$('.pic-item-list > .item .del').on('click', item_del_onclick);

$('#id_pic_upload_field').on('change', function(ev){ // Upload pic when file field changes.
  ev.preventDefault();
  ev.stopPropagation();

  var postUrl = "{% url 'companydb_photos' user.username %}";
  var file_data = $(this).prop("files")[0];
	var form_data = new FormData();
  var oPicItemList = $('.pic-item-list');

	form_data.append("pic", file_data);
	form_data.append("module", "stock");
	form_data.append("csrfmiddlewaretoken", Cookies.get("csrftoken"));

  console.log('BEGIN UPLOAD...');
  $('.pic-upload-field input').hide();
  $('.pic-upload-field .loading').show();

	$.ajax({
	  url: postUrl,
    dataType: 'json',
    cache: false,
    contentType: false,
    processData: false,
    data: form_data,
    type: 'post',

    success: function( json ) {
      console.log( 'SUCCESS.', json );
      var oItem = $( '<div class="item" id="id_pics_' + json.pic.id + '"><input style="display: none;" type="checkbox" checked="checked" name="pics" value="' + json.pic.id + '"><img src="' + json.pic.url_thumb + '" alt="" width="100" height="100"><div class="del">X</div></div>' );
      oItem.data('url', json.pic.url);
      oItem.on('click', item_del_onclick);
      $(oPicItemList).prepend( oItem );
    },
    error: function( xhr, status, errorThrown ) {
      console.log( 'ERROR.', xhr, status );
    },
    complete: function( xhr, status ) {
      console.log('UPLOAD COMPLETE.');
      $('.pic-upload-field input').show();
      $('.pic-upload-field .loading').hide();
    },
  });
});

$("#id_stone").select2({
  ajax: {
    url: "{% url 'stonedb_api_search' %}",
    dataType: 'json',
    delay: 250,
    data: function (params) {
      return { q: params.term,  };
    },
    processResults: function (data, params) {
      return { results: data.items, };
    },
    cache: true,
  },
  escapeMarkup: function (markup) { return markup; },
  minimumInputLength: 3,
  maximumSelectionLength: 1,
  templateResult: formatResult,
  templateSelection: formatResultSelection,
});

function formatResult (item) {
  if (item.loading) return item.name;

  return "<div class='select2-result-stones'><div class='pic'><img src='" + item.pic + "'></div><div class='names'><div class='name'>" + item.name + "</div><div class='pseu'> - " + item.pseu + "</div></div></div>";
}

function formatResultSelection (item) {
  return item.text || item.name;
}

</script>

{% endblock %}
