<ul id="tabnavi2">
  <li>
    <a {% if view == 'item' %}id="current"{% endif %} href="{% url 'companydb_item' view_user.username %}">
      <span>Home</span>
    </a>
  </li>
  <li>
    <a {% if view == 'stock' %}id="current"{% endif %} href="{% url 'companydb_stock' view_user.username %}">
      <span>Stones on Stock ({{view_user.profile.stock_count}})</span>
    </a>
  </li>
  <li>
    <a {% if view == 'projects' %}id="current"{% endif %} href="{% url 'companydb_projects' view_user.username %}">
      <span>Projects Showroom ({{view_user.profile.project_count}})</span>
    </a>
  </li>
  <li>
    <a {% if view == 'photos' %}id="current"{% endif %} href="{% url 'companydb_photos' view_user.username %}">
      <span>Company Photos ({{view_user.profile.pic_count}})</span>
    </a>
  </li>
  <li class="last">
    <a {% if view == 'contact' %}id="current"{% endif %} href="{% url 'companydb_contact' view_user.username %}">
      <span>Contact Us</span>
    </a>
  </li>
</ul>
