{% load static i18n gl4tags %}
<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <meta name="Copyright" content="Christian Steimel">
    <meta property="fb:admins" content="">
    <meta name="description" content="{% block description %}{% endblock %}">

    {% if canonical %}<link rel="canonical" href="{{canonical}}">{% endif %}
    <link rel="icon" type="image/png" href="/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'base-lt-750.css' %}" media="only screen and (max-width: 750px)">

    {% if settings.PRODUCTION %}
      <script type="text/javascript">

window.google_analytics_uacct='UA-273063-3';
var _gaq = _gaq || [];
_gaq.push(['_setAccount', window.google_analytics_uacct]);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

function recOutLink(l,c,a){
if (typeof(_gat)!='undefined') _gat._getTrackerByName()._trackEvent(c,a);
if (typeof(l.href)=='string') setTimeout('document.location="'+l.href+'"',100);
};

      </script>
    {% endif %}
    {% block head %}{% endblock %}
  </head>
  <body class="{% block body_classes %}{% endblock %}">
    <strong id="tpl-lema"><em>{% block title2 %}{% endblock %}</em></strong>
    {% if settings.DEBUG %}
      <div style="position:fixed;right:0;bottom:0;background:red;color:yellow;font:13px/1em monospace;">DEBUG</div>
    {% else %}
    {% endif %}

    <div id="tpl-wrap">

      <header id="header">
        <nav>
          <a href="/"><img src="{% static 'img/tt-logo-small.gif' %}" alt="{% trans 'Graniteland - marble and granite information online.' %}"></a>
          <a href="{% url 'stonedb_home' %}">{% trans 'Natural Stone' %}</a>
          <a href="{% url 'tradeshowdb_home'%}">{% trans 'Trade shows' %}</a>
          <a href="{% url 'mdpages_home' %}">{% trans 'Stone Infos' %}</a>
          <a href="{% url 'companydb_home' %}">{% trans 'Stone Companies' %}</a>
          {% if user.is_authenticated %}
          <a class="profile-link" href="{% url 'companydb_item' user.username %}">{% trans 'Company profile' %}</a>
          {% else %}
          <a class="login-link" href="{% url 'account_login' %}">{% trans 'Login' %}</a>
          {% endif %}
        </nav>
        <form method="get" action="{% url 'stonedb_redir_search_php' %}" id="tpl-search-form">
          <div class="controls ">
            <select class="select form-control" size="1" name="color" id="search_color" data-selected="{{selected_color}}">
              <option value="">{% trans 'All colors' %}</option>
            </select>
          </div>
          <div class="controls ">
            <select class="select form-control" size="1" name="type" id="search_type" data-selected="{{selected_classification}}">
              <option value="">{% trans 'All stone types' %}</option>
            </select>
          </div>
          <div class="controls ">
            <select class="select form-control" size="1" name="country" id="search_country" data-selected="{{selected_country}}">
              <option value="">{% trans 'All countries of origin' %}</option>
            </select>
          </div>
          <div class="controls ">
            <select class="select form-control" size="1" name="texture" id="search_texture" data-selected="{{selected_texture}}">
              <option value="">{% trans 'All textures' %}</option>
            </select>
          </div>
        </form>
      </header>

      <div id="tpl-breadcrumb">
        <table>
          <tr>
            <td>
              <a href="/">Graniteland</a> &raquo;
              {% block breadcrumb %}{% endblock %}
            </td>
            <td>
              {% if settings.DEBUG %}
              {% else %}
                <div class="addthis_toolbox addthis_default_style addthis_20x20_style">
                  <a class="addthis_button addthis_button_facebook_share" fb:share:layout="button"></a>
                  <a class="addthis_button_pinterest_pinit" pi:pinit:url="http://www.graniteland.com/stone/amazonia-brown" pi:pinit:media="http://www.graniteland.com/stonespics/amazoniabrown.jpg" pi:pinit:layout="none">
                  <a class="addthis_button_tweet" tw:count="none"></a>
                </div>
              {% endif %}
            </td>
          </tr>
        </table>
      </div>

      <div id="tpl-content">
        {% block main %}{% endblock %}
      </div>

      <footer>
        <table style="width:100%" class="top">
          <tr>
            <td style="white-space:nowrap; padding:10px;">
              <p>
                <a href="/stone/color"><strong>{% trans 'Natural stone by color' %}:</strong></a>
              </p>
              <p>
                <a href="/stone/color/beige">Beige natural stone</a><br>
                <a href="/stone/color/black">Black natural stone</a><br>
                <a href="/stone/color/blue">Blue natural stone</a><br>
                <a href="/stone/color/brown">Brown natural stone</a><br>
                <a href="/stone/color/colorfull">Colorfull natural stone</a><br>
                <a href="/stone/color/darkgrey">Dark grey natural stone</a><br>
                <a href="/stone/color/green">Green natural stone</a><br>
                <a href="/stone/color/grey">Grey natural stone</a><br>
                <a href="/stone/color/lightgrey">Light grey natural stone</a><br>
                <a href="/stone/color/pink">Pink natural stone</a><br>
                <a href="/stone/color/red">Red natural stone</a><br>
                <a href="/stone/color/white">White natural stone</a><br>
                <a href="/stone/color/yellow">Yellow natural stone</a><br>
                <a href="/stone/color"><strong>More...</strong></a>
              </p>
            </td>
            <td style="white-space:nowrap; padding:10px;">
              <p>
                <a href="/stone/country"><strong>{% trans 'Natural stone by country of origin' %}:</strong></a>
              </p>
              <p>
                <a href="/stone/country/brazil">Granite and marble from Brazil</a><br>
                <a href="/stone/country/china">Granite and marble from China</a><br>
                <a href="/stone/country/germany">Granite and marble from Germany</a><br>
                <a href="/stone/country/france">Granite and marble from France</a><br>
                <a href="/stone/country/india">Granite and marble from India</a><br>
                <a href="/stone/country/italy">Granite and marble from Italy</a><br>
                <a href="/stone/country/spain">Granite and marble from Spain</a><br>
                <a href="/stone/country"><strong>More...</strong></a>
              </p>
            </td>
            <td style="white-space:nowrap; padding:10px;">
              <p>
                <a href="/stone/type"><strong>{% trans 'Natural stones by type of stone' %}:</strong></a>
              </p>
              <p>
                <a href="/stone/type/granite">Granite</a><br>
                <a href="/stone/type/limestone">Limestone</a><br>
                <a href="/stone/type/marble">Marble</a><br>
                <a href="/stone/type/quartzite">Quartzite</a><br>
                <a href="/stone/type/sandstone">Sandstone</a><br>
                <a href="/stone/type/slate">Slate</a><br>
                <a href="/stone/type/soapstone">Soapstone</a><br>
                <a href="/stone/type/travertine">Travertine</a><br>
                <a href="/stone/type"><strong>More...</strong></a>
              </p>
            </td>
            <td style="padding:10px;">
              <p>
                <a href="mailto:admin-graniteland@C14L.com" title="{% trans 'Please report user submitted content that violates the Terms of Service.' %}" rel="nofollow">{% trans 'Report abuse' %}</a> &middot;
                <a href="/tos" rel="nofollow">{% trans 'Terms of Service' %}</a> &middot;
                <a href="/privacy" rel="nofollow">{% trans 'Privacy' %}</a> &middot;
                </p>
              <p>
                <a href="/contact" rel="nofollow">{% trans 'Contact' %}</a> &middot;
                <a href="/contact" rel="nofollow">Impressum</a> &middot;
                <a href="#" title="Jump to the top of this page.">{% trans 'Top of page' %}</a>
              </p>
              <br>
              <p>{% trans 'All information is provided without warranty of any kind and may contain errors or may be outdated.<br>It is strongly advised to contact a competent granite professional to confirm any information found on Graniteland.' %}</p>
              <p><img src="/static/img/flags/gb.png" alt="Find granite and marble..."><a href="http://www.graniteland.com/">Find granite and marble online</a></p>
              <p><img src="/static/img/flags/de.png" alt="Naturstein finden..."><a href="http://www.graniteland.de/">Graniteland, die Naturstein-Suchmaschine</a></p>
              <p>&copy; {% now "Y" %} by Graniteland</p>
            </td>
          </tr>
        </table>
        <div style="clear:left;"></div>
      </footer>

    </div><!-- /wrap -->

    <script>/* On small screens, have the menu items as drop-down when logo is touched. */ if(screen.availWidth<=750){document.getElementById('tpl-site-logo').addEventListener('click',function(e){e.preventDefault();document.getElementById('tpl-menu').classList.toggle('open');return false;});}</script>

    <div id="tpl-msg">
      {% for message in messages %}
      <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
      {% endfor %}
    </div>

    <div id="fb-root"></div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>

    <script src="{% static 'base.js' %}"></script>

    {% block foot %}{% endblock %}

    <script>var addthis_config = {"data_track_addressbar":false};</script>
    <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=yaix"></script>
  </body>
</html>
