{% load static i18n gl4tags %}
<!DOCTYPE html>
<html lang="{{ settings.LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Copyright" content="Christian Steimel">
    <meta name="description" content="{% block description %}{% endblock %}">

    {% if canonical %}<link rel="canonical" href="{{ canonical }}">{% endif %}
    <link rel="icon" type="image/png" href="/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'base-lt-750.css' %}" media="only screen and (max-width: 750px)">

    {% if settings.PRODUCTION %}
      <script>

window.google_analytics_uacct='UA-273063-3';
var _gaq = _gaq || [];
_gaq.push(['_setAccount', window.google_analytics_uacct]);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

function recOutLink(l,c,a){
if (typeof(_gat)!='undefined') _gat._getTrackerByName()._trackEvent(c,a);
if (typeof(l.href)=='string') setTimeout('document.location="'+l.href+'"',100);
};

      </script>
    {% endif %}
    {% block head %}{% endblock %}
  </head>
  <body class="{% block body_classes %}{% endblock %}">
    <strong id="tpl-lema"><em>{% block title2 %}{% endblock %}</em></strong>
    {% if settings.DEBUG %}
      <div style="position:fixed;right:0;bottom:0;padding:2px 5px;background:red;color:yellow;font:13px/1em monospace;">
        <a href="{% url 'admin:index' %}">ADMIN</a>
        - DEBUG {{ active_language }}
      </div>
    {% else %}
    {% endif %}

    <div id="tpl-wrap">

      <header id="header">
        <nav class="{{ tpl_search_form }}">
          <a id="tpl-site-logo" class="logo" href="/"><img src="{% static 'img/tt-logo-small.gif' %}" alt="{% trans 'Graniteland - marble and granite information online.' %}"></a>
          <a class="stones" href="{% url 'stonedb_home' %}">{% trans 'Natural Stone' %}</a>
          <a class="tradeshows" href="{% url 'tradeshowdb_home'%}">{% trans 'Trade shows' %}</a>
          <a class="infos" href="{% url 'mdpages_home' %}">{% trans 'Stone Infos' %}</a>
          <a class="companies" href="{% url 'companydb_home' %}">{% trans 'Stone Companies' %}</a>
          {% if user.is_authenticated %}
          <a class="profile-link" href="{% url 'companydb_item' user.username %}">{% trans 'Company profile' %}</a>
          {% else %}
          <a class="login-link" href="{% url 'account_login' %}">{% trans 'Login' %}</a>
          {% endif %}
        </nav>

        {% if tpl_search_form == 'companies' %}
          <form method="get" action="{% url 'companydb_redir_search' %}" id="tpl-search-form" class="company-search">
            <div class="controls controls-business">
              <select class="select form-control" size="1" name="business" id="search_company_business" data-selected="{{ selected_company_business }}">
                <option value="">{% trans 'All business areas' %}</option>
              </select>
            </div>
            <div class="controls controls-product">
              <select class="select form-control" size="1" name="product" id="search_company_product" data-selected="{{ selected_company_product }}">
                <option value="">{% trans 'All products' %}</option>
              </select>
            </div>
            <div class="controls controls-country">
              <select class="select form-control" size="1" name="country" id="search_company_country" data-selected="{{ selected_company_country }}">
                <option value="">{% trans 'All countries' %}</option>
              </select>
            </div>
            <input type="submit" value="&gt;" class="btn btn-submit">
          </form>
        {% elif tpl_search_form == 'tradeshows' %}
          <div class="yearswitch">
            <div class="switchgroup">
              {% for year in years %}
                <a class="item {% if view_year == year %}active{% endif %}" href="{% url 'tradeshowdb_by_year' year %}">{{ year }}</a>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <form method="get" action="{% url 'stonedb_redir_search_php' %}" id="tpl-search-form" class="stone-search">
            <div class="controls controls-color">
              <select class="select form-control" size="1" name="color" id="search_color" data-selected="{{ selected_color }}">
                <option value="">{% trans 'All colors' %}</option>
              </select>
            </div>
            <div class="controls controls-classification">
              <select class="select form-control" size="1" name="type" id="search_type" data-selected="{{ selected_classification }}">
                <option value="">{% trans 'All stone types' %}</option>
              </select>
            </div>
            <div class="controls controls-country">
              <select class="select form-control" size="1" name="country" id="search_country" data-selected="{{ selected_country }}">
                <option value="">{% trans 'All countries of origin' %}</option>
              </select>
            </div>
            <div class="controls controls-texture">
              <select class="select form-control" size="1" name="texture" id="search_texture" data-selected="{{ selected_texture }}">
                <option value="">{% trans 'All textures' %}</option>
              </select>
            </div>
            <input type="submit" value="&gt;" class="btn btn-submit">
          </form>
        {% endif %}
      </header>

      {% for message in messages %}
      <div class="alert alert-success {% if message.tags %}{{ message.tags }}{% endif %}">
        <span>{{ message }}</span>
        <button class="btn btn-default btn-xs" style="float:right;" onclick="this.parentNode.remove()">ok</button>
      </div>
      {% endfor %}

      <div id="tpl-breadcrumb">
        <a href="/">Graniteland</a> &raquo;
        {% block breadcrumb %}{% endblock %}
      </div>

      <div id="tpl-content">
        {% block main %}{% endblock %}
      </div>

      <footer>
        <table style="width:100%" class="top">
          <tr>
            <td style="white-space:nowrap; padding:10px;">
              <p><a href="{% url 'stonedb_property_list' tr_color %}"><strong>{% trans 'Natural stone by color' %}:</strong></a></p>
              <p>
                {% for k, v in footer_browse_stones|keyvalue:tr_color %}
                  <a href="{% url 'stonedb_simple_filter' tr_color k %}">{{ v }}</a>
                  <br>
                {% endfor %}
              </p>
            </td>
            <td style="white-space:nowrap; padding:10px;">
              <p><a href="{% url 'stonedb_property_list' tr_country %}"><strong>{% trans 'Natural stone by country of origin' %}:</strong></a></p>
              <p>{% for x in footer_browse_stones|keyvalue:tr_country %}<a href="{% url 'stonedb_simple_filter' tr_country x.0 %}">{{ x.1 }}</a><br>{% endfor %}</p>
            </td>
            <td style="white-space:nowrap; padding:10px;">
              <p><a href="{% url 'stonedb_property_list' tr_type %}"><strong>{% trans 'Natural stones by type of stone' %}:</strong></a></p>
              <p>{% for x in footer_browse_stones|keyvalue:tr_type %}<a href="{% url 'stonedb_simple_filter' tr_type x.0 %}">{{ x.1 }}</a><br>{% endfor %}</p>
            </td>
            <td style="padding:10px;">
              <p>
                <a href="mailto:admin-graniteland@C14L.com" title="{% trans 'Please report user submitted content that violates the Terms of Service.' %}" rel="nofollow">{% trans 'Report abuse' %}</a> &middot;
                <a href="https://C14L.com/impressum.html" rel="nofollow">{% trans 'Terms of Service' %}</a> &middot;
                <a href="https://C14L.com/impressum.html" rel="nofollow">{% trans 'Privacy' %}</a> &middot;
              </p>
              <p>
                <a href="/contact" rel="nofollow">{% trans 'Contact' %}</a> &middot;
                <a href="https://C14L.com/impressum.html" rel="nofollow">Impressum</a> &middot;
                <a href="#" title="{% trans 'Jump to the top of this page.' %}">{% trans 'Top of page' %}</a>
              </p>
              <br>
              <p>{% trans 'All information is provided without warranty of any kind and may contain errors or may be outdated.<br>It is strongly advised to contact a competent granite professional to confirm any information found on Graniteland.' %}</p>
              <p><img src="/static/img/flags/gb.png" alt="Find granite and marble..."><a href="http://www.graniteland.com/">Find granite and marble online</a></p>
              <p><img src="/static/img/flags/de.png" alt="Naturstein finden..."><a href="http://www.graniteland.de/">Graniteland, die Naturstein-Suchmaschine</a></p>
              <p>&copy; {% now "Y" %} by Graniteland</p>
            </td>
          </tr>
        </table>
        <div style="clear:left;"></div>
      </footer>

    </div><!-- /wrap -->

    <script>
    /* On small screens, have the menu items as drop-down when logo is touched. */

    if (screen.availWidth <= 750) {
      document.getElementById('tpl-site-logo').addEventListener('click', function (e) {
        e.preventDefault();
        document.getElementById('header').classList.toggle('open');
        return false;
      });
    }
    </script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <script src="{% static 'base.js' %}"></script>

    {% block foot %}{% endblock %}
  </body>
</html>
