{% extends 'gl4app/base.html' %}
{% load gl4tags i18n static %}

{% block title %}{% trans 'GRANITELAND - The Granite and Marble Search Engine' context 'Homepage title' %}{% endblock %}

{% block title2 %}{% trans 'GRANITELAND - The Granite and Marble Search Engine' context 'Homepage title' %}{% endblock %}

{% block description %}{% trans 'The Granite and Marble Search Engine. Find info and pictures of 1800 natural stones, granites, marbles, limestone, travertin and other types of natural stone easily. Search our natural stone database by color or type to find the best natural stone granite and marble for your kitchen countertop or flooring tiles.' %}{% endblock %}

{% block head %}{% endblock %}

{% block body_classes %}sitehome{% endblock %}

{% block breadcrumb %}
<a href="/">{% trans 'Find Granite und Marble' context 'Homepage breadcrumb' %}</a> &raquo;
{% endblock %}

{% block main %}

<h1>{% trans 'Granite and Marble Search Engine' context 'Homepage H1' %}</h1>

<div class="leftcol">

  <div class="top-pic" title="{% trans 'Granite Quary' %}"></div>

  <div class="left-ad">
    {% adsense '1762364042' 'gc resp atf homepage' %}
    {% adsense '3239097249' 'gd resp atf homepage' %}
  </div>

  <div class="sectionlinks">

    <h2>{% trans 'Find Granite and Marble' %}</h2>
    <p>{% blocktrans %}Find granite, marble and other natural stone easily. Graniteland's Natural Stone Database contains information on more than 1600 types of granite and marble. Simply select a color, country of origin or type of stone at the top of this page, and hit the "Find Stones" button. You will get a list of natural stones that match you search options, including a picture and further details.{% endblocktrans %}</p>

    <h2><a href="{% url 'companydb_home' %}">{% trans 'Natural Stone Company Directory' %}</a></h2>
    <p>{% blocktrans %}A growing directory of worldwide companies from the granite and marble business. Find wholesale granite suppliers, quarry operator companies, or a granite installers near you. If you run a granite related company business, please add your company and promote your stock items and recent projects.{% endblocktrans %} <a href="{% url 'companydb_home' %}">{% trans 'Natural Stone Company Directory...' %}</a></p>

    <h2><a href="{% url 'tradeshowdb_home' %}">{% trans 'Granite Tradeshows' %}</a></h2>
    <p>{% blocktrans %}We have collected information on some of the most important natural stone exhibitions and construction trade shows worldwide. If you are a granite manufacturer, an architect, a home owner, or granite trader, you can find granite exhibitions near you to visit.{% endblocktrans %} <a href="{% url 'tradeshowdb_home' %}">{% trans 'Granite Trade Shows...' %}</a></p>

    <h2><a href="{% url 'mdpages_home' %}">{% trans 'Granite + Marble Magazine' %}</a></h2>
    <p>{% blocktrans %}More information about granite and marble is available at Graniteland's Natural Stone Magazine. We have compiled many interesting articles about granite and marble and about the international natural stone industry. Find out why some granite is expensive and other granite is cheap. And what other types of stone are there besides granite and marble.{% endblocktrans %} <a href="{% url 'mdpages_home' %}">{% trans 'Granite + Marble Magazine...' %}</a></p>

  </div>

  <div class="tbox currstock">
    <div class="title">{% trans 'Current stock items' %}</div>
    <div class="content">
      <p>{% trans 'A selection of current stock items of companies listed in the Graniteland stone companies directory. For questions regarding a stock item, please contact the company directly.' %}</p>
      <ul class="imglink">
        {% for item in stocks %}
        <li>
          <a class="img-link" href="{% url 'companydb_stock' item.user.username %}" style="background:url({{ item.stone.get_pic_medium }}) top left repeat;"></a>
          <a class="main-link" href="{% url 'companydb_stock' item.user.username %}"><strong>{% blocktrans with company=item.user.profile.name stone=item.stone.name %}{{ company }} has {{ stone }} on stock{% endblocktrans %}</strong></a>
          <span class="content">{{ item.description|truncatewords:20 }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="rightcol">
  <div class="tbox colors">
    <div class="title">
      <a href="{% url 'stonedb_property_list' tr_color %}">{% trans 'Natural stone by color' %}</a>
    </div>
    <div class="content">
      <table>
        <tr>
          <td>
            <ul>
              <li>
                <a href="{% url 'stonedb_simple_filter' tr_color 'beige' %}">
                  <span style="background: url({% static 'img/stonecolors/beige-marble.jpg' %})"></span>
                  {% trans 'Beige natural stone' %}
                </a>
              </li>
              <li>
                <a href="{% url 'stonedb_simple_filter' tr_color 'blue' %}">
                  <span style="background: url({% static 'img/stonecolors/blue-marble.jpg' %})"></span>
                  {% trans 'Blue natural stone' %}
                </a>
              </li>
              <li>
                <a href="{% url 'stonedb_simple_filter' tr_color 'brown' %}">
                  <span style="background: url({% static 'img/stonecolors/brown-marble.jpg' %}"></span>
                  {% trans 'Brown natural stone' %}
                </a>
              </li>
              <li>
                <a href="{% url 'stonedb_simple_filter' tr_color 'yellow' %}">
                  <span style="background: url({% static 'img/stonecolors/yellow-marble.jpg' %})"></span>
                  {% trans 'Yellow natural stone' %}
                </a>
              </li>
              <li>
                <a href="{% url 'stonedb_simple_filter' tr_color 'grey' %}">
                  <span style="background: url({% static 'img/stonecolors/grey-marble.jpg' %})"></span>
                  {% trans 'Grey natural stone' %}
                </a>
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li>
                <a href="{% url 'stonedb_simple_filter' tr_color 'green' %}">
                  <span style="background: url({% static 'img/stonecolors/green-marble.jpg' %})"></span>
                  {% trans 'Green natural stone' %}
                </a>
              </li>
              <li>
                <a href="{% url 'stonedb_simple_filter' tr_color 'pink' %}">
                  <span style="background: url({% static 'img/stonecolors/pink-marble.jpg' %})"></span>
                  {% trans 'Pink natural stone' %}
                </a>
              </li>
              <li>
                <a href="{% url 'stonedb_simple_filter' tr_color 'red' %}">
                  <span style="background: url({% static 'img/stonecolors/red-marble.jpg' %})"></span>
                  {% trans 'Red natural stone' %}
                </a>
              </li>
              <li>
                <a href="{% url 'stonedb_simple_filter' tr_color 'black' %}">
                  <span style="background: url({% static 'img/stonecolors/black-marble.jpg' %})"></span>
                  {% trans 'Black natural stone' %}
                </a>
              </li>
              <li>
                <a href="{% url 'stonedb_simple_filter' tr_color 'white' %}">
                  <span style="background: url({% static 'img/stonecolors/white-marble.jpg' %})"></span>
                  {% trans 'White natural stone' %}
                </a>
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>

  {% if user.is_authenticated %}
  <div class="tbox login">
    <div class="title">{% trans 'Login' %}</div>
    <div class="content">
      <p>{% blocktrans with name=user.profile.name %}Signed in as {{ name }}{% endblocktrans %}</p>
      <form action="{% url 'account_logout' %}" method="get">
        <input class="btn btn-primary" type="submit" value="Sign out">
      </form>
    </div>
  </div>
  {% else %}
  <div class="tbox login">
    <div class="title">Login</div>
    <div class="content">
      <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}">
        {% endif %}
        <table>
          <tr>
            <td>{% trans 'Login' %}:</td>
            <td><input type="text" name="login" value=""></td>
          </tr>
          <tr>
            <td>{% trans 'Password' %}:</td>
            <td><input type="password" name="password" value=""></td>
          </tr>
          <tr>
            <td></td>
            <td><input type="submit" name="submit" value="{% trans 'Login' %}"></td>
          </tr>
        </table>
      </form>
      <div class="links">
        <b><a href="{% url 'account_signup' %}">{% trans 'Register now!' %}</a></b> |
        <a href="{% url 'account_reset_password' %}">{% trans 'Reset password' %}</a>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="tbox">
    <div class="title">{% trans 'Granite + Marble Magazine' %}</div>
    <div class="content staticpages">
      <ul>
        <li>
          <strong><a href="{% url 'mdpages_topic' 'home' %}">{% trans 'Home use' %}</a></strong><br>
          {% trans 'Tipps and tricks for the installation and use of granite and marble stone at home.' %}
        </li>
        <li>
          <strong><a href="{% url 'mdpages_topic' 'professional' %}">{% trans 'Stone professional' %}</a></strong><br>
          {% trans 'Natural stone for professional builders and designers, from architecture to facade building and the installation of marble and granite flooring.' %}
        </li>
        <li>
          <strong><a href="{% url 'mdpages_topic' 'production' %}">{% trans 'Quary and Production' %}</a></strong><br>
          {% trans 'Information for natural stone companies, quarying of granite and marble, cutting of slabs and tiles, with information on machinery and current trends.' %}
        </li>
        <li>
          <strong><a href="{% url 'mdpages_topic' 'misc' %}">{% trans 'Misc' %}</a></strong><br>
          {% trans 'Other natural stone related events that do not fit into any of the above topics.' %}
        </li>
        <li>
          <strong><a href="{% url 'mdpages_topic' 'help' %}">{% trans 'Graniteland Help' %}</a></strong><br>
          {% trans 'How to use Graniteland, explains how to find quickly the right natural stone. And for stone companies, how to present your company online.' %}
        </li>
      </ul>
    </div>
  </div>

  <div class="tbox companies">
    <div class="title">{% trans 'Stone Companies online' %}</div>
    <div class="content">
      <p>{% trans 'Many companies specialized in natural stone and related products are already listed in the Graniteland Company Directory.' %}</p>
      <ul>
        {% for item in view_users %}
        <li>
          <img src="{{item.profile.title_foto_url}}">
          <strong><a href="{% url 'companydb_item' item.username %}">{{item.profile.name}}</a></strong><br>
          <em>({{item.profile.city}}, {{item.profile.country_name}})</em>
        </li>
        {% endfor %}
      </ul>
      <p><a href="{{settings.SIGNUP_URL}}">{% trans 'Register now!' %}</a></p>
    </div>
  </div>

  <div class="tbox countries">
    <div class="title">
      <a href="{% url 'stonedb_property_list' tr_country %}">{% trans 'Natural stone by country of origin' %}</a>
    </div>
    <div class="content">
      <ul>
        <li><a href="{% url 'stonedb_simple_filter' tr_country 'brazil' %}">{% trans 'Granite and marble from Brazil' %}</a></li>
        <li><a href="{% url 'stonedb_simple_filter' tr_country 'china' %}">{% trans 'Granite and marble from China' %}</a></li>
        <li><a href="{% url 'stonedb_simple_filter' tr_country 'germany' %}">{% trans 'Granite and marble from Germany' %}</a></li>
        <li><a href="{% url 'stonedb_simple_filter' tr_country 'france' %}">{% trans 'Granite and marble from France' %}</a></li>
        <li><a href="{% url 'stonedb_simple_filter' tr_country 'india' %}">{% trans 'Granite and marble from India' %}</a></li>
        <li><a href="{% url 'stonedb_simple_filter' tr_country 'italy' %}">{% trans 'Granite and marble from Italy' %}</a></li>
        <li><a href="{% url 'stonedb_simple_filter' tr_country 'spain' %}">{% trans 'Granite and marble from Spain' %}</a></li>
      </ul>
    </div>
  </div>

  <div class="tbox classes">
    <div class="title">
      <a href="{% url 'stonedb_property_list' tr_type %}">{% trans 'Natural stone by classification' %}</a>
    </div>
    <div class="content">
      <table class="wide top">
        <tr>
          <td>
            <ul>
              <li><a href="{% url 'stonedb_simple_filter' tr_type 'granite' %}">{% trans 'Granite' %}</a></li>
              <li><a href="{% url 'stonedb_simple_filter' tr_type 'limestone' %}">{% trans 'Limestone' %}</a></li>
              <li><a href="{% url 'stonedb_simple_filter' tr_type 'marble' %}">{% trans 'Marble' %}</a></li>
            </ul>
          </td>
          <td>
            <ul>
              <li><a href="{% url 'stonedb_simple_filter' tr_type 'quartzite' %}">{% trans 'Quartzite' %}</a></li>
              <li><a href="{% url 'stonedb_simple_filter' tr_type 'sandstone' %}">{% trans 'Sandstone' %}</a></li>
              <li><a href="{% url 'stonedb_simple_filter' tr_type 'slate' %}">{% trans 'Slate' %}</a></li>
            </ul>
          </td>
          <td>
            <ul>
              <li><a href="{% url 'stonedb_simple_filter' tr_type 'soapstone' %}">{% trans 'Soapstone' %}</a></li>
              <li><a href="{% url 'stonedb_simple_filter' tr_type 'travertine' %}">{% trans 'Travertine' %}</a></li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

{% endblock %}
