{% extends 'gl4app/base.html' %}
{% load gl4tags i18n markdown_deux_tags bleach_tags %}

{% block title %}{{ article.title }}{% endblock %}

{% block title2 %}{{ article.title }}{% endblock %}

{% block description %}{{ article.description }}{% endblock %}

{% block head %}{% endblock %}

{% block body_classes %}pages page{% endblock %}

{% block breadcrumb %}
<a href="{% url 'mdpages_home' %}">{% trans 'Natural Stone Magazine' %}</a> &raquo;
<a href="{% url 'mdpages_topic' article.topic.slug %}">{{ article.topic.title }}</a> &raquo;
{% endblock %}

{% block main %}

<div class="layout">
  <aside class="sidebar">
    {% adsense '9785158445' 'gc resp atf text item' %}
    {% adsense '2261891648' 'gd resp atf text item' %}
  </aside>

  <article>
    <h1>{{ article.title }}</h1>
    {% if user.is_staff %}
      <div class="staff">
        <a href="{% url 'admin:mdpages_article_change' article.pk %}" class="btn btn-primary">edit</a>
        <a href="{% url 'admin:mdpages_article_changelist' %}" class="btn btn-default">list</a>
      </div>
    {% endif %}
    {{ article.text|bleach }}
  </article>
</div>

{% endblock main %}
