{% extends 'gl4app/base.html' %}
{% load markdown_deux_tags %}
{% load bleach_tags %}

{% block title %}{{article.title}}{% endblock %}

{% block title2 %}{{article.title}}{% endblock %}

{% block description %}{{article.description}}{% endblock %}

{% block head %}{% endblock %}

{% block body_classes %}pages page{% endblock %}

{% block breadcrumb %}
<a href="{% url 'mdpages_home' %}">Natural Stone Magazine</a> &raquo;
<a href="{% url 'mdpages_topic' article.topic.slug %}">{{article.topic.title}}</a> &raquo;
<a href="{% url 'mdpages_article' article.topic.slug article.slug %}">{{article.title}}</a> &raquo;
{% endblock %}

{% block main %}

{% if user.is_staff %}<a href="/admin/mdpages/article/{{article.id}}/" style="float:right;">edit</a>{% endif %}
<h1>{{article.title}}</h1>

<table class="layout">
    <tr>
        <td class="leftcol">{{ article.text|markdown|bleach }}</td>
        <td class="rightcol" id="fotoscolumn">
            {% if settings.PRODUCTION %}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- gc resp atf text item -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-0795994016573783"
     data-ad-slot="9785158445"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
            {% endif %}
        </td>
    </tr>
</table>

{% endblock main %}
