{% extends 'base.html' %}

{% block title %}
Browse {{q.name}} stones
{% endblock %}

{% block title2 %}
Browse {{q.name}} stones
{% endblock %}

{% block description %}
Browse all {{q.name}} natural stones listed in Graniteland.
{% endblock %}

{% block head %}
<style>
.stone-property-list {
  list-style: none;
  margin: 0; padding: 0;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -ms-column-count: 4;
  -o-column-count: 4;
  column-count: 4;
}
.stone-property-list li {
  margin: 4px; padding: 8px 0;
  background-color: #F3F3F3;
  text-align: center;
}
.stone-property-list li a { text-decoration: inherit; }
.stone-property-list li a:hover { text-decoration: underline; }
.stone-property-list li .count { color: #999; }
</style>
{% endblock %}

{% block body_classes %}
{% endblock %}

{% block breadcrumb %}
<a href="/stone">Stones</a> &raquo;
<a href="/stone/{{f}}">Classification</a> &raquo;
<a href="/stone/{{f}}/{{q.slug}}">{{q.name|capfirst}}</a> &raquo;
{% endblock %}

{% block main %}

<h1>Browse {{q.name|title}} stones</h1>
<p>Graniteland's natural stone collection has data on a large variety of marble and granite, as well as many other types of stones, including {{q.name|title}} stone. Note however, that in stone trade many stone types like {{q.name}} are grouped into either being "marble" or "granite", for being very similar. Here are 100 {{q.name}} stones with photos and further data.</p>

<div class="browse-stones browse-classifications">

  <h2>Natural stone classification Limestone</h2>

  <div class="list-pages">
    {% for i in stones.paginator.page_range %}
      {% if i == stones.number %}
        <b>[ {{i}} ]</b>
      {% elif i == 1 %}
        <a href="/stone/{{f}}/{{q.slug}}">1</a>
      {% else %}
        <a href="/stone/{{f}}/{{q.slug}}/{{i}}">{{i}}</a>
      {% endif %}
    {% endfor %}
  </div>

  {% include 'stonedb/stone-list-1.html'%}

  <div class="list-pages">
    {% for i in stones.paginator.page_range %}
      {% if i == stones.number %}
        <b>[ {{i}} ]</b>
      {% elif i == 1 %}
        <a href="/stone/{{f}}/{{q.slug}}">1</a>
      {% else %}
        <a href="/stone/{{f}}/{{q.slug}}/{{i}}">{{i}}</a>
      {% endif %}
    {% endfor %}
  </div>

  <h2>Types of natural stone / stone by classification</h2>

  <ul class="stone-property-list">
    {% for item in more %}
      <li><a href="/stone/type/{{item.slug}}">{{item.name}}</a> <span class="count">({{item.stones__count}})</span></li>
    {% endfor %}
  </ul>
</div>

{% endblock main %}
