{% extends 'gl4app/base.html' %}
{% load i18n markdown_deux_tags bleach_tags %}

{% block title %}{% blocktrans with name=q.name %}Browse {{name}} stones{% endblocktrans %}{% endblock %}

{% block title2 %}{% blocktrans with name=q.name %}Browse {{name}} stones{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans with name=q.name %}Browse all {{name}} natural stones listed in Graniteland.{% endblocktrans %}{% endblock %}

{% block head %}
<style>
.stone-property-list { list-style: none; margin: 0; padding: 0; -webkit-column-count: 4; -moz-column-count: 4; -ms-column-count: 4; -o-column-count: 4; column-count: 4; }
.stone-property-list li { margin: 4px; padding: 8px 0; background-color: #F3F3F3; text-align: center; }
.stone-property-list li a { text-decoration: inherit; }
.stone-property-list li a:hover { text-decoration: underline; }
.stone-property-list li .count { color: #999; }
</style>
{% endblock %}

{% block body_classes %}browse-stones-classification{% endblock %}

{% block breadcrumb %}
{% include 'stonedb/simple-filter-breadcrumb.html' %}
{% endblock %}

{% block main %}

<h1>
  {% blocktrans with name=q.name %}Browse {{name}} stones{% endblocktrans %}
  {% if user.is_staff %}
    <a href="{% url 'admin:stonedb_classification_change' q.id %}" class="btn btn-default">edit</a>
  {% endif %}
</h1>

{% if q.text %}
  {{ q.text|markdown|bleach }}
{% else %}
  <p>{% blocktrans with name=q.name tname=q.name|title %}Graniteland's natural stone collection has data on a large variety of marble and granite, as well as many other types of stones, including {{tname}} stone. Note however, that in stone trade many stone types like {{name}} are grouped into either being "marble" or "granite", for being very similar. Here are 100 {{name}} stones with photos and further data.{% endblocktrans %}</p>
{% endif %}

<h2>{% blocktrans with name=q.name %}Natural stone classification {{name}}{% endblocktrans %}</h2>

{% include 'stonedb/stone-list-1.html'%}

<h2>{% trans 'Types of natural stone / stone by classification' %}</h2>

{% include 'stonedb/simple-filter-proplist.html' %}

{% endblock main %}
