{% extends 'base.html' %}

{% block title %}
All {{q.name}} marbles and {{q.name}} granites
{% endblock %}

{% block title2 %}
All {{q.name}} marbles and {{q.name}} granites
{% endblock %}

{% block description %}
Browse all {{q.name}} marbles and granites with pictures listed in Graniteland.
{% endblock %}

{% block head %}
<style>
.stone-property-list {
  list-style: none;
  margin: 0; padding: 0;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -ms-column-count: 4;
  -o-column-count: 4;
  column-count: 4;
}
.stone-property-list li {
  margin: 4px; padding: 8px 0;
  background-color: #F3F3F3;
  text-align: center;
}
.stone-property-list li a { text-decoration: inherit; }
.stone-property-list li a:hover { text-decoration: underline; }
.stone-property-list li .count { color: #999; }
</style>
{% endblock %}

{% block body_classes %}
{% endblock %}

{% block breadcrumb %}
<a href="/stone">Stones</a> &raquo;
<a href="/stone/{{f}}">{{f|capfirst}}</a> &raquo;
<a href="/stone/{{f}}/{{q.slug}}">{{q.name|capfirst}}</a> &raquo;
{% endblock %}

{% block main %}

<div class="browse-stones browse-colors">

  <h1>{{q.name|capfirst}} granite and {{q.name}} marble</h1>
  <p>Browse <strong>{{stones.paginator.count}} different types of {{q.name}} marble and {{q.name}} granite</strong>. Click on a stone image to see more about a particular natural stone. Find {{q.name}} stone and many other colors of stone on Graniteland.</p>

  <div class="list-pages">
    {% for i in stones.paginator.page_range %}
      {% if i == stones.number %}
        <b>[ {{i}} ]</b>
      {% elif i == 1 %}
        <a href="/stone/{{f}}/{{q.slug}}">1</a>
      {% else %}
        <a href="/stone/{{f}}/{{q.slug}}/{{i}}">{{i}}</a>
      {% endif %}
    {% endfor %}
  </div>

  <ul class="enhanced-stone-list">
    {% for row in stones.object_list %}
      <li><a href="/stone/{{row.slug}}" style="background-image:url({{row.get_pic_thumb}});" title="Other trade names are {{row.get_pseudonyms}}"><span class="capt"><span class="name">{{row.name}}</span> is a {{row.get_color_display}} {{row.get_classification_display}} from {{row.get_country_display}}</span></a></li>
    {% endfor %}
  </ul>

  <div style="clear:left;"></div>

  <div class="list-pages">
    {% for i in stones.paginator.page_range %}
      {% if i == stones.number %}
        <b>[ {{i}} ]</b>
      {% elif i == 1 %}
        <a href="/stone/{{f}}/{{q.slug}}">1</a>
      {% else %}
        <a href="/stone/{{f}}/{{q.slug}}/{{i}}">{{i}}</a>
      {% endif %}
    {% endfor %}
  </div>

  <h2>{{q.name|capfirst}} stone and other natural stone colors</h2>
  <ul class="stone-property-list">
    {% for item in more %}
      <li><a href="/stone/color/{{item.slug}}">{{item.name|capfirst}} granite or marble</a> <span class="count">({{item.stones__count}})</span></li>
    {% endfor %}
  </ul>
</div>

{% endblock main %}