{% extends 'base.html' %}

{% block title %}
Marbles and Granites from around the globe
{% endblock %}

{% block title2 %}
Marbles and Granites from around the globe
{% endblock %}

{% block description %}
Information on granite and marble from around the world, including data and pictures of thousands of natural stones, at the Graniteland online stone database.
{% endblock %}

{% block head %}
{% endblock %}

{% block body_classes %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block main %}
-- Filter --
{% endblock main %}
