{% extends 'gl4app/base.html' %}

{% block title %}All {{q.name}} marbles and {{q.name}} granites{% endblock %}

{% block title2 %}All {{q.name}} marbles and {{q.name}} granites{% endblock %}

{% block description %}Browse all {{q.name}} marbles and granites with pictures listed in Graniteland.{% endblock %}

{% block head %}
<style>
.stone-property-list {
  list-style: none;
  margin: 0; padding: 0;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -ms-column-count: 4;
  -o-column-count: 4;
  column-count: 4;
}
.stone-property-list li {
  margin: 4px; padding: 8px 0;
  background-color: #F3F3F3;
  text-align: center;
}
.stone-property-list li a { text-decoration: inherit; }
.stone-property-list li a:hover { text-decoration: underline; }
.stone-property-list li .count { color: #999; }
</style>
{% endblock %}

{% block body_classes %}
{% endblock %}

{% block breadcrumb %}
{% include 'stonedb/simple-filter-breadcrumb.html' %}
{% endblock %}

{% block main %}

<div class="browse-stones browse-colors">

  <h1>{{q.name|capfirst}} granite and {{q.name}} marble</h1>

  <p>Browse <strong>{{stones.paginator.count}} different types of {{q.name}} marble and {{q.name}} granite</strong>. Click on a stone image to see more about a particular natural stone. Find {{q.name}} stone and many other colors of stone on Graniteland.</p>

  {% include 'stonedb/simple-filter-prevnext.html'%}
  {% include 'stonedb/stone-list-1.html'%}
  {% include 'stonedb/simple-filter-prevnext.html'%}

  <h2>{{q.name|capfirst}} stone and other natural stone colors</h2>

  {% include 'stonedb/simple-filter-proplist.html' %}
</div>

{% endblock main %}
