{% extends 'gl4app/base.html' %}
{% load i18n %}

{% block title %}{% blocktrans with name=q.name %}All {{name}} marbles and {{name}} granites{% endblocktrans %}{% endblock %}

{% block title2 %}{% blocktrans with name=q.name %}All {{name}} marbles and {{name}} granites{% endblocktrans %}{% endblock %}

{% block description %}{% blocktrans with name=q.name %}Browse {{name}} marbles and granites with pictures listed in Graniteland.{% endblocktrans %}{% endblock %}

{% block head %}
<style>
.stone-property-list { list-style: none; margin: 0; padding: 0; -webkit-column-count: 4; -moz-column-count: 4; -ms-column-count: 4; -o-column-count: 4; column-count: 4; }
.stone-property-list li { margin: 4px; padding: 8px 0; background-color: #F3F3F3; text-align: center; }
.stone-property-list li a { text-decoration: inherit; }
.stone-property-list li a:hover { text-decoration: underline; }
.stone-property-list li .count { color: #999; }
</style>
{% endblock %}

{% block body_classes %}{% endblock %}

{% block breadcrumb %}
{% include 'stonedb/simple-filter-breadcrumb.html' %}
{% endblock %}

{% block main %}

<div class="browse-stones browse-texture">

  <h1>{% blocktrans with name=q.name tname=q.name|capfirst %}{{name}} granite and {{name}} marble{% endblocktrans %}</h1>
  <p>{% blocktrans with name=q.name page_count=stones.paginator.count %}Browse <strong>{{page_count}} different types of {{name}} marble and {{name}} granite</strong>. Click on a stone image to see more about a particular natural stone. Natural stone with a {{name}} texture on Graniteland.{% endblocktrans %}</p>

  {% include 'stonedb/stone-list-1.html'%}

  <h2>{% blocktrans with tname=q.name|capfirst %}{{name}} stone and other natural stone textures{% endblocktrans %}</h2>

  {% include 'stonedb/simple-filter-proplist.html' %}
</div>

{% endblock main %}
