{% extends 'gl4app/base.html' %}
{% load gl4tags i18n crispy_forms_tags %}

{% block title %}{% trans 'Marbles and Granites from around the globe' %}{% endblock %}

{% block title2 %}{% trans 'Marbles and Granites from around the globe' %}{% endblock %}

{% block description %}{% trans 'Information on granite and marble from around the world, including data and pictures of thousands of natural stones, at the Graniteland online stone database.' %}{% endblock %}

{% block head %}{% endblock %}

{% block body_classes %}stones-home{% endblock %}

{% block breadcrumb %}
<a href="{% url 'stonedb_home' %}">{% trans 'Stones' %}</a> &raquo;
{% endblock %}

{% block main %}

<div class="stones-home-ad">
  <div class="ad1">
    {% adsense '4715830441' 'gc resp atf stone search form' %}
    {% adsense '6192563647' 'gd resp atf stone search form' %}
  </div>
</div>

<div class="stones-home-content">
  <h1>{% trans 'Marbles and Granites from around the globe' %}</h1>
  <div class="stones-home-search">
    {% crispy form %}
    <div class="stones-home-result"></div>
  </div>
</div>

{% endblock main %}

{% block foot %}

<script>
(function () {
  var h = window.location.hash.replace(/^#/, '');
  $('#id_stone-pseu-form input[name="q"]').val(h)
  if (h.length >= 3) searchResults(h);

  $('#id_stone-pseu-form').on('submit', function (ev) {
    var _this = this;
    ev.preventDefault(); ev.stopPropagation();
    window.location.hash = $(_this).find('input[name="q"]').val();
  });

  $('#id_stone-pseu-form input[name="q"]').on('keyup', function (ev) {
    var _this = this;
    if (_this.value.length < 3) return;
    searchResults(_this.value);
  });

  function searchResults (q) {
    var oResult = $('.stones-home-result');
    oResult.html('<div class="loading"><span></span><span></span><span></span></div>');

    $.get("{% url 'stonedb_api_search' %}", { q: q }, function (response) {
      oResult.html('');
      if (response.items) {
        for (var i=0; i<response.items.length; i++) {
          var pseu = (response.items[i]['name'] == response.items[i]['pseu']) ? ' ' : ' <span class="pseu">(' + response.items[i]['pseu'] + ')</span> ';
          var name = ' <span class="name">' + response.items[i]['name'] + '</span> ';
          var bgimg = ' style="background-image: url(' + response.items[i]['pic'] + ')" ';
          oResult.append('<a href="' + response.items[i]['url'] + '"' + bgimg + '><span>' + name + pseu + '</span></a>');
        }
      }
    });
  }
})();
</script>

{% endblock %}
