{% load gl4tags i18n markdown_deux_tags bleach_tags %}

{# include 'stonedb/partial_list_prevnext.html' #}

{% if stones|length > 20 %}
  {% adsense '8587626845' 'gc resp atf stone browse 1' %}
  {% adsense '1064360047' 'gd resp atf stone browse 1' %}
{% endif %}

{% include 'stonedb/stone-list-1.html'%}

{# gc resp btf stone browse 2 - ??? #}
{# gd resp btf stone browse 2 - 4017826443 #}

{% adsense '5494559644' 'gc resp btf stone browse 3' %}
{% adsense '6971292847' 'gd resp btf stone browse 3' %}

{% include 'stonedb/partial_list_prevnext.html'%}
