{% extends 'gl4app/base.html' %}

{% block title %}Overview of natural stone by {{fk}} | GRANITELAND - The Granite and Marble Search Engine{% endblock %}

{% block title2 %}Overview of natural stone by {{fk}} | GRANITELAND - The Granite and Marble Search Engine{% endblock %}

{% block description %}Overview of natural stone by {{fk}} for kitchen countertops, tiles, flooring, etc.{% endblock %}

{% block head %}{% endblock %}

{% block body_classes %}{% endblock %}

{% block breadcrumb %}
<a href="{% url 'stonedb_home' %}">Stones</a> &raquo;
<a href="{% url 'stonedb_property_list' f %}">{{ f|capfirst }}</a> &raquo;
{% endblock %}

{% block main %}

{% if fk == "color" %}
  <h1>Browse natural stone colors</h1>
  <p>Here you can browse natural stones by color. Please choose a color to see all granites and marbles grouped by color.</p>
{% elif fk == "classification" %}
  <h1>Browse by stone classification</h1>
  <p>Here you can browse natural stones by classification. Please choose a classification to see all granites and marbles grouped by classification.</p>
{% elif fk == "country" %}
  <h1>Browse by country of origin</h1>
  <p>Here you can browse natural stones by country. Please choose a country of origin to see all granites and marbles from that country.</p>
{% elif fk == "texture" %}
  <h1>Browse by texture</h1>
  <p>Here you can browse natural stones by their texture. Please choose a texture to see all granites and marbles with that surface appearence.</p>
{% endif %}

<h2>Natural Stone by {{ fk }}</h2>

<ul class="stone-property-list">
  {% for item in items %}
    <li>
      <a href="{% url 'stonedb_simple_filter' f item.slug %}">{{ item.name }} granite or marble</a>
      <span class="count">({{ item.stones__count }})</span>
    </li>
  {% endfor %}
</ul>

{% endblock main %}
